<config>
	<modules>
		<Unbxd_Recscore>
			<version>1.0.24</version>
		</Unbxd_Recscore>
	</modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <unbxd after="Mage_Adminhtml">Unbxd_Recscore_Adminhtml</unbxd>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
	<frontend>
		<layout>
			<updates>
				<unbxd_recscore>
					<file>unbxd/recscore.xml</file>
				</unbxd_recscore>
			</updates>
		</layout>
		<routers>
			<unbxd_recscore>
				<use>standard</use>
				<args>
					<module>Unbxd_Recscore</module>
					<frontName>recscore</frontName>
				</args>
			</unbxd_recscore>
		</routers>
	</frontend>
	<global>
        <resources>
            <unbxd_recscore_setup>
                <setup>
                    <module>Unbxd_Recscore</module>
                </setup>
            </unbxd_recscore_setup>
        </resources>
        <helpers>
            <unbxd_recscore>
                <class>Unbxd_Recscore_Helper</class>
            </unbxd_recscore>
        </helpers>
		<models>
			<unbxd_recscore>
				<class>Unbxd_Recscore_Model</class>
				<resourceModel>unbxd_recscore_resource</resourceModel>
			</unbxd_recscore>
			<unbxd_recscore_resource>
				<class>Unbxd_Recscore_Model_Resource</class>
				<entities>
					<config>
						<table>unbxd_recommendation_conf</table>
					</config>
                    <field>
                        <table>unbxd_field_conf</table>
                    </field>
                    <sync>
                        <table>unbxd_product_sync</table>
                    </sync>
				</entities>
			</unbxd_recscore_resource>
		</models>
        <blocks>
            <unbxd_recscore>
                <class>Unbxd_Recscore_Block</class>
            </unbxd_recscore>
        </blocks>
		<events>
			<controller_action_predispatch_unbxd_recscore>
				<observers>
					<unbxd_recscore_auth>
						<type>singleton</type>
                                                <class>unbxd_recscore/auth</class>
                                                <method>authorize</method>
					</unbxd_recscore_auth>
				</observers>
			</controller_action_predispatch_unbxd_recscore>
			<checkout_cart_add_product_complete>
				<observers>
					<unbxd_recscore_cart_tracker>
						<type>singleton</type>
						<class>unbxd_recscore/observer</class>
						<method>trackAddToCart</method>
					</unbxd_recscore_cart_tracker>
				</observers>
			</checkout_cart_add_product_complete>
			<sales_order_payment_place_end>
				<observers>
					<unbxd_recscore_order_tracker>
						<type>singleton</type>
						<class>unbxd_recscore/observer</class>
						<method>trackOrder</method>
					</unbxd_recscore_order_tracker>
				</observers>
			</sales_order_payment_place_end>
            <catalog_product_delete_before>
                <observers>
                    <unbxd_recscore_order_tracker>
                        <type>singleton</type>
                        <class>unbxd_recscore/observer</class>
                        <method>trackDelete</method>
                    </unbxd_recscore_order_tracker>
                </observers>
            </catalog_product_delete_before>
            <catalog_product_delete_commit_after>
                <observers>
                    <unbxd_recscore_order_tracker>
                        <type>singleton</type>
                        <class>unbxd_recscore/observer</class>
                        <method>trackDelete</method>
                    </unbxd_recscore_order_tracker>
                </observers>
            </catalog_product_delete_commit_after>
	     <cataloginventory_stock_item_save_commit_after>
                <observers>
                    <unbxd_recscore_catalog_inventory_save>
                        <type>singleton</type>
                        <class>unbxd_recscore/observer</class>
                        <method>catalogInventorySave</method>
                    </unbxd_recscore_catalog_inventory_save>
                </observers>
            </cataloginventory_stock_item_save_commit_after>
            <sales_order_item_cancel>
                <observers>
                    <unbxd_recscore_order_cancel>
                        <type>singleton</type>
                        <class>unbxd_recscore/observer</class>
                        <method>catalogInventorySave</method>
                    </unbxd_recscore_order_cancel>
                </observers>
            </sales_order_item_cancel>
		</events>
	</global>
    <adminhtml>
        <layout>
            <updates>
                <unbxd_recscore>
                    <file>unbxd/recscore.xml</file>
                </unbxd_recscore>
            </updates>
        </layout>
	<acl>
	   <resources>
	     <admin>
	       <children>
	         <unbxd module="unbxd_recscore">
		   <title>Unbxd</title>
	         </unbxd>
	       </children>
	     </admin>
	   </resources>
	</acl>
    </adminhtml>
    <crontab>
        <jobs>
            <unbxd_recscore_sync>
                <schedule><cron_expr>0 1 * * *</cron_expr></schedule>
                <run><model>unbxd_recscore/observer::syncFull</model></run>
            </unbxd_recscore_sync>
	    <unbxd_recscore_incremental_cron>
                 <schedule><cron_expr>0 */1 * * *</cron_expr></schedule>
                 <run><model>unbxd_recscore/observer::syncIncremental</model></run>
            </unbxd_recscore_incremental_cron>
        </jobs>
    </crontab>
    <default>
        <unbxd>
            <general>
                <price>final_price</price>
                <productUrl>url_path</productUrl>
                <max_feed_lock_feed>2</max_feed_lock_feed>
                <include_out_of_stock>true</include_out_of_stock>
                <include_child_product>true</include_child_product>
                <include_taxonomy_nodes>false</include_taxonomy_nodes>
                <include_taxonomy_mapping>false</include_taxonomy_mapping>
                <include_out_of_stock_from_non_cache>false</include_out_of_stock_from_non_cache>
                <include_only_enabled_child_product>true</include_only_enabled_child_product>
                <include_out_of_stock_child_product>false</include_out_of_stock_child_product>
		        <field_conf>{}</field_conf>
		        <exclude_category>[]</exclude_category>
                <tracker_url>https://tracker.unbxdapi.com/</tracker_url>
                <platform_url>https://accounts.unbxdapi.com/admin/</platform_url>
                <service_url>https://starwreck.unbxd.com/</service_url>
                <feed_url>https://feed.unbxdapi.com/</feed_url>
            </general>
        </unbxd>
    </default>
</config>
