<div class="modal fade template-preview-modal contact-us-modal" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog pad-left-10p">

        <div class="mail-popup" style="display: block;">
        	<div class="mail-popup-head mail-box pull-left pad-top-6p">
			</div>
            <div class="mail-popup-head pad-right-10">
                SEND MAIL
                <span class="close-icon-round pull-right back-pos-0-0 clickable" 
                data-dismiss="modal" aria-label="Close">
            	</span>
            </div>

            <div class="mail-popup-content">
                <div class="mar-btm-20 to-holder ">
                    <span>To</span>
                    <input type="text" title="" value={{config.mail.to}} readonly="readonly" >
                </div>
                <div class="mar-btm-20 to-holder cc-holder cc-div">
                    <span class="pull-left pad-right-10">Cc</span>
                    <div class="emailid-collection">
                        {{#each ccEmailIds}}
                        <div>{{id}} <span on-click="removeId" class="remove-id"></span></div>
                        {{/each}}

                        <input on-keydown="addIdToCollection"  type="text" title="" value={{ccMailId}} >
                    </div>
                    
                </div>
                <div class="mar-btm-20 to-holder body-holder">
                   <textarea name="" id="" cols="30" rows="10" 
                   class="mail-body" 
                   value={{mailBody}}>
                   </textarea>
                </div>
                <div>
                    <input type="submit" id="unbxdSend" class="mail-send-btn" title="send" value="SEND" 
                    on-click="sendMail" data-dismiss="modal" aria-label="Close">
                </div>
            </div>
        </div>

    </div>
</div>