    <div class="col-md-60 col-sm-60 col-xs-60  magento-inner-block pad-top-20 pad-btm-20 brd-btm-0 clickable" on-click="showFilters">
        <div class="row mar-0">
            <div class="col-md-60 border-0 pad-0 magento-head" >
               Filter Catalog Data 
                <span class="optional-text">[Optional]</span>
                 {{#if filterShown}}
                    <div class="minus-icon pull-right clickable"></div>
                {{else}}
                     <div class="plus-icon pull-right clickable"></div>
                {{/if}}
            </div>
        </div>
    </div>

    <div class="filter_toggle">

     <div class="col-md-60 col-sm-60 col-xs-60 pad-top-20 pad-btm-20 bordered-div brd-btm-0 brd-top-0">
        <div class="col-md-60 col-sm-60 col-xs-60  background-grey pad-left-10 overflow-auto brd-top-btm-0">
            <div class="info-icon-big pull-left mar-right-10 background-center" style="height:58px;"></div>
            <div class="pad-top-10 grey-text unbxd-info-text" >
                Note: The products whose status is disabled will not be updated
            </div>
        </div>
    </div>

    <div class="col-md-60 col-sm-60 col-xs-60   pad-top-20 pad-btm-20 brd-top-btm-0 rules-block">
        <div class="row mar-0">
            <div class="col-md-30">
                 <div class="grey-text" style="font-size:16.45px;">
                    Add filter:
                </div>
            </div>
            <div class="col-md-30">
                <div class="magento-text pull-right">
                    <input type="checkbox" id="chkOutofStock" checked='{{include_out_of_stock}}'
                    class="mar-top-0 pad-right-10">
                    Include out of stock products
                </div>
            </div>
        </div>
        
        <div class="row rules-block">
        {{#each filters:i}}
         <div class="add-filter mar-top-15 col-md-17">
            <div class="close-icon-round pull-right right-top-edge clickable" 
            on-click="removeFilter">
            </div>
             <div class="filter-select-box {{#if noField}} unbxd-input-error-parent {{/if}}">
                 <select decorator='chosen:site' value={{field_name}} name="unbxd-site">      
                     {{#magentoFileds}}
                          <option class={{disabled}} 
                          disabled={{disabled}} 
                          value="{{this.field_name}}">
                            {{this.field_name}}
                          </option> 
                       {{/magentoFileds}}     
                </select>
             </div>
             <div class="filter-select-box ">
                 <select decorator='chosen:site' value="{{field_type}}" name="unbxd-site">      
                     <option value="string">Equal to</option>
                     <option value="number">In between</option>       
                </select>
             </div>
             {{#if field_type === 'string'}}
             <div class="filter-input-box">
                 <input type="text" class="{{#if noValue}} unbxd-input-error {{/if}}" 
                 value="{{value}}" on-keyup="valueChange">
             </div>
             {{/if}}
                
             {{#if field_type === 'number'}}
             <div class="filter-input-box filter-input-box-number">
                 <input  class="{{#if noFrom}} unbxd-input-error {{/if}}" 
                 value="{{from}}" on-keydown="fromValueChange" placeholder="From">
                 <input  class="{{#if noTo}} unbxd-input-error {{/if}}" 
                 value="{{to}}" on-keydown="toValueChange" placeholder="To">
             </div>
             {{/if}}

        </div>

        <div class="after-rule mar-top-15 pad-top-7p col-md-4 pad-left-right-0">
            <div class="hr-line pull-left width-25p"></div>
            <div class="pull-left rule-after-text width-50p pad-top-6p grey-text">OR</div>
            <div class="hr-line pull-left width-25p"></div>
        </div>
       {{/each}}
        
            <div class="add-filter mar-top-15 clickable 
            col-md-17 {{#if nomoreFilters}} hide{{/if}}">
                <div class="centered-div mar-0-auto width-40p" style="margin-top:17%">
                    <div on-click="addFilter">
                         <div class="add-icon mar-0-auto bolder-grey">
                        </div>
                        <div class="grey-text pad-top-10" >
                            Add a new rule
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
      
        
    </div>

      <div class="col-md-60 col-sm-60 col-xs-60   pad-top-20 pad-btm-20 brd-top-btm-0 overflow-auto pad-btm-20">
        
            <div class="mar-0-auto border-grey filters-saved-div clickable  
            {{#if filterSaveDisabled}} hide {{/if}}" on-click="saveFilters">
                    <div class="save-icon">
                    </div>
                    <div>
                        Save
                    </div> 
            </div>

            {{#if saveSuccess}}
             <div class="width-270 mar-0-auto border-grey filters-saved-div
            {{#unless saveSuccess}} hide {{/unless}} " >
                    <div class="success-icon">  
                    </div>
                    <div class="unbxd-success-msg">
                        Saved
                    </div> 
             </div>
            {{/if}}
  
    </div>
   </div>