<?xml version="1.0"?>
<config>
  <modules>
    <Unbxd_Datafeeder>
      <version>1.0.5</version>
    </Unbxd_Datafeeder>
  </modules>
  <frontend>
    <routers>
      <datafeeder>
        <use>standard</use>
        <args>
          <module>Unbxd_Datafeeder</module>
          <frontName>datafeeder</frontName>
        </args>
      </datafeeder>
    </routers>
  </frontend>
  <global>
    <models>
      <unbxd_datafeeder>
        <class>Unbxd_Datafeeder_Model</class>
        <resourceModel>unbxd_datafeeder_resource</resourceModel>
      </unbxd_datafeeder>
      <unbxd_datafeeder_resource>
        <class>Unbxd_Datafeeder_Model_Resource</class>
      </unbxd_datafeeder_resource>
    </models>
    <blocks>
      <unbxd_datafeeder>
        <class>Unbxd_Datafeeder_Block</class>
      </unbxd_datafeeder>
    </blocks>
  </global>
  <global>
    <helpers>
      <unbxd_datafeeder>
        <class>Unbxd_Datafeeder_Helper</class>
      </unbxd_datafeeder>
    </helpers>
  </global>
  <admin>
    <routers>
      <unbxd_router>
        <use>admin</use>
        <args>
          <module>Unbxd_Datafeeder</module>
          <frontName>datafeeder</frontName>
        </args>
      </unbxd_router>
    </routers>
  </admin>
  <adminhtml>
    <!-- The <layout> updates allow us to define our block layouts in a separate file so are aren't messin' with the Magento layout files.  -->
    <layout>
      <updates>
        <unbxd_datafeeder>
          <file>unbxd_datafeeder.xml</file>
        </unbxd_datafeeder>
      </updates>
    </layout>
    <!-- The <acl> section is for access control. Here we define the pieces where access can be controlled within a role. -->
    <acl>
      <resources>
        <admin>
          <children>
            <unbxd_datafeeder>
              <title>Unbxd Menu Item</title>
              <children>
                <example translate="title" module="unbxd_datafeeder">
                  <title>Example Menu Item</title>
                </example>
              </children>
            </unbxd_datafeeder>
          </children>
        </admin>
      </resources>
    </acl>
  </adminhtml>
  <global>
    <models>
      <datafeeder>
        <class>Unbxd_Datafeeder_Model</class>
        <resourceModel>datafeeder_mysql4</resourceModel>
      </datafeeder>
      <datafeeder_mysql4>
        <class>Unbxd_Datafeeder_Model_Mysql4</class>
        <entities>
          <conf>
            <table>unbxd_datafeeder_conf</table>
          </conf>
          <field>
            <table>unbxd_field</table>
          </field>
        </entities>
      </datafeeder_mysql4>
    </models>
    <resources>
      <datafeeder_setup>
        <setup>
          <module>Unbxd_Datafeeder</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </datafeeder_setup>
      <datafeeder_write>
        <connection>
          <use>core_write</use>
        </connection>
      </datafeeder_write>
      <datafeeder_read>
        <connection>
          <use>core_read</use>
        </connection>
      </datafeeder_read>
    </resources>
  </global>
</config>
