
@media (min-width: 980px) {

	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-13, .col-md-14, .col-md-15, .col-md-16, .col-md-17, .col-md-18, .col-md-19, .col-md-20, .col-md-21, .col-md-22, .col-md-23, .col-md-24, .col-md-25, .col-md-26, .col-md-27, .col-md-28, .col-md-29, .col-md-30, .col-md-31, .col-md-32, .col-md-33, .col-md-34, .col-md-35, .col-md-36, .col-md-37, .col-md-38, .col-md-39, .col-md-40, .col-md-41, .col-md-42, .col-md-43, .col-md-44, .col-md-45, .col-md-46, .col-md-47, .col-md-48, .col-md-49, .col-md-50, .col-md-51, .col-md-52, .col-md-53, .col-md-54, .col-md-55, .col-md-56, .col-md-57, .col-md-58, .col-md-59 {
		float: left;
	}
	.col-md-1 {
		width: 1.666666666666667%;
	}
	.col-md-2 {
		width: 3.333333333333333%;
	}
	.col-md-3 {
		width: 5%;
	}
	.col-md-4 {
		width: 6.666666666666667%;
	}
	.col-md-5 {
		width: 8.333333333333333%;
	}
	.col-md-6 {
		width: 10%;
	}
	.col-md-7 {
		width: 11.66666666666667%;
	}
	.col-md-8 {
		width: 13.33333333333333%;
	}
	.col-md-9 {
		width: 15%;
	}
	.col-md-10 {
		width: 16.66666666666667%;
	}
	.col-md-11 {
		width: 18.33333333333333%;
	}
	.col-md-12 {
		width: 20%;
	}
	.col-md-13 {
		width: 21.66666666666667%;
	}
	.col-md-14 {
		width: 23.33333333333333%;
	}
	.col-md-15 {
		width: 25%;
	}
	.col-md-16 {
		width: 26.66666666666667%;
	}
	.col-md-17 {
		width: 28.33333333333333%;
	}
	.col-md-18 {
		width: 30%;
	}
	.col-md-19 {
		width: 31.66666666666667%;
	}
	.col-md-20 {
		width: 33.33333333333333%;
	}
	.col-md-21 {
		width: 35%;
	}
	.col-md-22 {
		width: 36.66666666666667%;
	}
	.col-md-23 {
		width: 38.33333333333333%;
	}
	.col-md-24 {
		width: 40%;
	}
	.col-md-25 {
		width: 41.66666666666667%;
	}
	.col-md-26 {
		width: 43.33333333333333%;
	}
	.col-md-27 {
		width: 45%;
	}
	.col-md-28 {
		width: 46.66666666666667%;
	}
	.col-md-29 {
		width: 48.33333333333333%;
	}
	.col-md-30 {
		width: 50%;
	}
	.col-md-31 {
		width: 51.66666666666667%;
	}
	.col-md-32 {
		width: 53.33333333333333%;
	}
	.col-md-33 {
		width: 55%;
	}
	.col-md-34 {
		width: 56.66666666666667%;
	}
	.col-md-35 {
		width: 58.33333333333333%;
	}
	.col-md-36 {
		width: 60%;
	}
	.col-md-37 {
		width: 61.66666666666667%;
	}
	.col-md-38 {
		width: 63.33333333333333%;
	}
	.col-md-39 {
		width: 65%;
	}
	.col-md-40 {
		width: 66.66666666666667%;
	}
	.col-md-41 {
		width: 68.33333333333333%;
	}
	.col-md-42 {
		width: 70%;
	}
	.col-md-43 {
		width: 71.66666666666667%;
	}
	.col-md-44 {
		width: 73.33333333333333%;
	}
	.col-md-45 {
		width: 75%;
	}
	.col-md-46 {
		width: 76.66666666666667%;
	}
	.col-md-47 {
		width: 78.33333333333333%;
	}
	.col-md-48 {
		width: 80%;
	}
	.col-md-49 {
		width: 81.66666666666667%;
	}
	.col-md-50 {
		width: 83.33333333333333%;
	}
	.col-md-51 {
		width: 85%;
	}
	.col-md-52 {
		width: 86.66666666666667%;
	}
	.col-md-53 {
		width: 88.33333333333333%;
	}
	.col-md-54 {
		width: 90%;
	}
	.col-md-55 {
		width: 91.66666666666667%;
	}
	.col-md-56 {
		width: 93.33333333333333%;
	}
	.col-md-57 {
		width: 95%;
	}
	.col-md-58 {
		width: 96.66666666666667%;
	}
	.col-md-59 {
		width: 98.33333333333333%;
	}
	.col-md-60 {
		width: 100%;
	}
	.col-md-push-0 {
		left: auto
	}
	.col-md-push-1 {
		left: 1.666666666666667%;
	}
	.col-md-push-2 {
		left: 3.333333333333333%;
	}
	.col-md-push-3 {
		left: 5%;
	}
	.col-md-push-4 {
		left: 6.666666666666667%;
	}
	.col-md-push-5 {
		left: 8.333333333333333%;
	}
	.col-md-push-6 {
		left: 10%;
	}
	.col-md-push-7 {
		left: 11.66666666666667%;
	}
	.col-md-push-8 {
		left: 13.33333333333333%;
	}
	.col-md-push-9 {
		left: 15%;
	}
	.col-md-push-10 {
		left: 16.66666666666667%;
	}
	.col-md-push-11 {
		left: 18.33333333333333%;
	}
	.col-md-push-12 {
		left: 20%;
	}
	.col-md-push-13 {
		left: 21.66666666666667%;
	}
	.col-md-push-14 {
		left: 23.33333333333333%;
	}
	.col-md-push-15 {
		left: 25%;
	}
	.col-md-push-16 {
		left: 26.66666666666667%;
	}
	.col-md-push-17 {
		left: 28.33333333333333%;
	}
	.col-md-push-18 {
		left: 30%;
	}
	.col-md-push-19 {
		left: 31.66666666666667%;
	}
	.col-md-push-20 {
		left: 33.33333333333333%;
	}
	.col-md-push-21 {
		left: 35%;
	}
	.col-md-push-22 {
		left: 36.66666666666667%;
	}
	.col-md-push-23 {
		left: 38.33333333333333%;
	}
	.col-md-push-24 {
		left: 40%;
	}
	.col-md-push-25 {
		left: 41.66666666666667%;
	}
	.col-md-push-26 {
		left: 43.33333333333333%;
	}
	.col-md-push-27 {
		left: 45%;
	}
	.col-md-push-28 {
		left: 46.66666666666667%;
	}
	.col-md-push-29 {
		left: 48.33333333333333%;
	}
	.col-md-push-30 {
		left: 50%;
	}
	.col-md-push-31 {
		left: 51.66666666666667%;
	}
	.col-md-push-32 {
		left: 53.33333333333333%;
	}
	.col-md-push-33 {
		left: 55%;
	}
	.col-md-push-34 {
		left: 56.66666666666667%;
	}
	.col-md-push-35 {
		left: 58.33333333333333%;
	}
	.col-md-push-36 {
		left: 60%;
	}
	.col-md-push-37 {
		left: 61.66666666666667%;
	}
	.col-md-push-38 {
		left: 63.33333333333333%;
	}
	.col-md-push-39 {
		left: 65%;
	}
	.col-md-push-40 {
		left: 66.66666666666667%;
	}
	.col-md-push-41 {
		left: 68.33333333333333%;
	}
	.col-md-push-42 {
		left: 70%;
	}
	.col-md-push-43 {
		left: 71.66666666666667%;
	}
	.col-md-push-44 {
		left: 73.33333333333333%;
	}
	.col-md-push-45 {
		left: 75%;
	}
	.col-md-push-46 {
		left: 76.66666666666667%;
	}
	.col-md-push-47 {
		left: 78.33333333333333%;
	}
	.col-md-push-48 {
		left: 80%;
	}
	.col-md-push-49 {
		left: 81.66666666666667%;
	}
	.col-md-push-50 {
		left: 83.33333333333333%;
	}
	.col-md-push-51 {
		left: 85%;
	}
	.col-md-push-52 {
		left: 86.66666666666667%;
	}
	.col-md-push-53 {
		left: 88.33333333333333%;
	}
	.col-md-push-54 {
		left: 90%;
	}
	.col-md-push-55 {
		left: 91.66666666666667%;
	}
	.col-md-push-56 {
		left: 93.33333333333333%;
	}
	.col-md-push-57 {
		left: 95%;
	}
	.col-md-push-58 {
		left: 96.66666666666667%;
	}
	.col-md-push-59 {
		left: 98.33333333333333%;
	}
	.col-md-pull-0 {
		right: auto
	}
	.col-md-pull-1 {
		right: 1.666666666666667%;
	}
	.col-md-pull-2 {
		right: 3.333333333333333%;
	}
	.col-md-pull-3 {
		right: 5%;
	}
	.col-md-pull-4 {
		right: 6.666666666666667%;
	}
	.col-md-pull-5 {
		right: 8.333333333333333%;
	}
	.col-md-pull-6 {
		right: 10%;
	}
	.col-md-pull-7 {
		right: 11.66666666666667%;
	}
	.col-md-pull-8 {
		right: 13.33333333333333%;
	}
	.col-md-pull-9 {
		right: 15%;
	}
	.col-md-pull-10 {
		right: 16.66666666666667%;
	}
	.col-md-pull-11 {
		right: 18.33333333333333%;
	}
	.col-md-pull-12 {
		right: 20%;
	}
	.col-md-pull-13 {
		right: 21.66666666666667%;
	}
	.col-md-pull-14 {
		right: 23.33333333333333%;
	}
	.col-md-pull-15 {
		right: 25%;
	}
	.col-md-pull-16 {
		right: 26.66666666666667%;
	}
	.col-md-pull-17 {
		right: 28.33333333333333%;
	}
	.col-md-pull-18 {
		right: 30%;
	}
	.col-md-pull-19 {
		right: 31.66666666666667%;
	}
	.col-md-pull-20 {
		right: 33.33333333333333%;
	}
	.col-md-pull-21 {
		right: 35%;
	}
	.col-md-pull-22 {
		right: 36.66666666666667%;
	}
	.col-md-pull-23 {
		right: 38.33333333333333%;
	}
	.col-md-pull-24 {
		right: 40%;
	}
	.col-md-pull-25 {
		right: 41.66666666666667%;
	}
	.col-md-pull-26 {
		right: 43.33333333333333%;
	}
	.col-md-pull-27 {
		right: 45%;
	}
	.col-md-pull-28 {
		right: 46.66666666666667%;
	}
	.col-md-pull-29 {
		right: 48.33333333333333%;
	}
	.col-md-pull-30 {
		right: 50%;
	}
	.col-md-pull-31 {
		right: 51.66666666666667%;
	}
	.col-md-pull-32 {
		right: 53.33333333333333%;
	}
	.col-md-pull-33 {
		right: 55%;
	}
	.col-md-pull-34 {
		right: 56.66666666666667%;
	}
	.col-md-pull-35 {
		right: 58.33333333333333%;
	}
	.col-md-pull-36 {
		right: 60%;
	}
	.col-md-pull-37 {
		right: 61.66666666666667%;
	}
	.col-md-pull-38 {
		right: 63.33333333333333%;
	}
	.col-md-pull-39 {
		right: 65%;
	}
	.col-md-pull-40 {
		right: 66.66666666666667%;
	}
	.col-md-pull-41 {
		right: 68.33333333333333%;
	}
	.col-md-pull-42 {
		right: 70%;
	}
	.col-md-pull-43 {
		right: 71.66666666666667%;
	}
	.col-md-pull-44 {
		right: 73.33333333333333%;
	}
	.col-md-pull-45 {
		right: 75%;
	}
	.col-md-pull-46 {
		right: 76.66666666666667%;
	}
	.col-md-pull-47 {
		right: 78.33333333333333%;
	}
	.col-md-pull-48 {
		right: 80%;
	}
	.col-md-pull-49 {
		right: 81.66666666666667%;
	}
	.col-md-pull-50 {
		right: 83.33333333333333%;
	}
	.col-md-pull-51 {
		right: 85%;
	}
	.col-md-pull-52 {
		right: 86.66666666666667%;
	}
	.col-md-pull-53 {
		right: 88.33333333333333%;
	}
	.col-md-pull-54 {
		right: 90%;
	}
	.col-md-pull-55 {
		right: 91.66666666666667%;
	}
	.col-md-pull-56 {
		right: 93.33333333333333%;
	}
	.col-md-pull-57 {
		right: 95%;
	}
	.col-md-pull-58 {
		right: 96.66666666666667%;
	}
	.col-md-pull-59 {
		right: 98.33333333333333%;
	}
	.col-md-offset-0 {
		margin-left: 0
	}
	.col-md-offset-1 {
		margin-left: 1.666666666666667%;
	}
	.col-md-offset-2 {
		margin-left: 3.333333333333333%;
	}
	.col-md-offset-3 {
		margin-left: 5%;
	}
	.col-md-offset-4 {
		margin-left: 6.666666666666667%;
	}
	.col-md-offset-5 {
		margin-left: 8.333333333333333%;
	}
	.col-md-offset-6 {
		margin-left: 10%;
	}
	.col-md-offset-7 {
		margin-left: 11.66666666666667%;
	}
	.col-md-offset-8 {
		margin-left: 13.33333333333333%;
	}
	.col-md-offset-9 {
		margin-left: 15%;
	}
	.col-md-offset-10 {
		margin-left: 16.66666666666667%;
	}
	.col-md-offset-11 {
		margin-left: 18.33333333333333%;
	}
	.col-md-offset-12 {
		margin-left: 20%;
	}
	.col-md-offset-13 {
		margin-left: 21.66666666666667%;
	}
	.col-md-offset-14 {
		margin-left: 23.33333333333333%;
	}
	.col-md-offset-15 {
		margin-left: 25%;
	}
	.col-md-offset-16 {
		margin-left: 26.66666666666667%;
	}
	.col-md-offset-17 {
		margin-left: 28.33333333333333%;
	}
	.col-md-offset-18 {
		margin-left: 30%;
	}
	.col-md-offset-19 {
		margin-left: 31.66666666666667%;
	}
	.col-md-offset-20 {
		margin-left: 33.33333333333333%;
	}
	.col-md-offset-21 {
		margin-left: 35%;
	}
	.col-md-offset-22 {
		margin-left: 36.66666666666667%;
	}
	.col-md-offset-23 {
		margin-left: 38.33333333333333%;
	}
	.col-md-offset-24 {
		margin-left: 40%;
	}
	.col-md-offset-25 {
		margin-left: 41.66666666666667%;
	}
	.col-md-offset-26 {
		margin-left: 43.33333333333333%;
	}
	.col-md-offset-27 {
		margin-left: 45%;
	}
	.col-md-offset-28 {
		margin-left: 46.66666666666667%;
	}
	.col-md-offset-29 {
		margin-left: 48.33333333333333%;
	}
	.col-md-offset-30 {
		margin-left: 50%;
	}
	.col-md-offset-31 {
		margin-left: 51.66666666666667%;
	}
	.col-md-offset-32 {
		margin-left: 53.33333333333333%;
	}
	.col-md-offset-33 {
		margin-left: 55%;
	}
	.col-md-offset-34 {
		margin-left: 56.66666666666667%;
	}
	.col-md-offset-35 {
		margin-left: 58.33333333333333%;
	}
	.col-md-offset-36 {
		margin-left: 60%;
	}
	.col-md-offset-37 {
		margin-left: 61.66666666666667%;
	}
	.col-md-offset-38 {
		margin-left: 63.33333333333333%;
	}
	.col-md-offset-39 {
		margin-left: 65%;
	}
	.col-md-offset-40 {
		margin-left: 66.66666666666667%;
	}
	.col-md-offset-41 {
		margin-left: 68.33333333333333%;
	}
	.col-md-offset-42 {
		margin-left: 70%;
	}
	.col-md-offset-43 {
		margin-left: 71.66666666666667%;
	}
	.col-md-offset-44 {
		margin-left: 73.33333333333333%;
	}
	.col-md-offset-45 {
		margin-left: 75%;
	}
	.col-md-offset-46 {
		margin-left: 76.66666666666667%;
	}
	.col-md-offset-47 {
		margin-left: 78.33333333333333%;
	}
	.col-md-offset-48 {
		margin-left: 80%;
	}
	.col-md-offset-49 {
		margin-left: 81.6666666666667%;
	}
	.col-md-offset-50 {
		margin-left: 83.33333333333333%;
	}
	.col-md-offset-51 {
		margin-left: 85%;
	}
	.col-md-offset-52 {
		margin-left: 86.66666666666667%;
	}
	.col-md-offset-53 {
		margin-left: 88.33333333333333%;
	}
	.col-md-offset-54 {
		margin-left: 90%;
	}
	.col-md-offset-55 {
		margin-left: 91.66666666666667%;
	}
	.col-md-offset-56 {
		margin-left: 93.33333333333333%;
	}
	.col-md-offset-57 {
		margin-left: 95%;
	}
	.col-md-offset-58 {
		margin-left: 96.66666666666667%;
	}
	.col-md-offset-59 {
		margin-left: 98.33333333333333%;
	}
	/*commom desktop */
	.fixed-width-520 {
		margin: 0px auto;
		float: none;
		width: 520px !important;
	}
	.fixed-width-580 {
		margin: 0px auto;
		float: none;
		width: 580px !important;
	}
	.fixed-width-680 {
		margin: 0px auto;
		float: none;
		width: 680px !important;
	}
	.fixed-width-700 {
		margin: 0px auto;
		float: none;
		width: 700px;
	}
	.fixed-width-730 {
		margin: 0px auto;
		float: none;
		width: 730px;
	}
	.fixed-width-800 {
		margin: 0px auto;
		float: none;
		width: 800px;
	}
	.fixed-width-940 {
		margin: 0px auto;
		float: none;
		width: 940px;
	}
	.fixed-width-980 {
		margin: 0px auto;
		float: none;
		width: 980px;
	}
	.fixed-width-1080 {
		margin: 0px auto;
		float: none;
		width: 1080px;
	}
	.fixed-width-1140 {
		margin: 0px auto;
		float: none;
		width: 1140px;
	}
	.main-container {
		width: 100%;
		float: left;
	}
	.width-570 {
		width: 570px;
	}
	.width-680 {
		width: 680px;
	}
/* signed up desktop*/
.signup-block
{
	width:740px;
	margin:60px 0px 0px 120px;
}
	/* dashboard widget conf desktop*/
	
	.layout-block
	{
		float: left;
		width:442px;
	}
}

@media (min-width: 1200px) {

	.col-lg-1 {
		width: 1.666666666666667%;
	}
	.col-lg-2 {
		width: 3.333333333333333%;
	}
	.col-lg-3 {
		width: 5%;
	}
	.col-lg-4 {
		width: 6.666666666666667%;
	}
	.col-lg-5 {
		width: 8.333333333333333%;
	}
	.col-lg-6 {
		width: 10%;
	}
	.col-lg-7 {
		width: 11.66666666666667%;
	}
	.col-lg-8 {
		width: 13.33333333333333%;
	}
	.col-lg-9 {
		width: 15%;
	}
	.col-lg-10 {
		width: 16.66666666666667%;
	}
	.col-lg-11 {
		width: 18.33333333333333%;
	}
	.col-lg-12 {
		width: 20%;
	}
	.col-lg-13 {
		width: 21.66666666666667%;
	}
	.col-lg-14 {
		width: 23.33333333333333%;
	}
	.col-lg-15 {
		width: 25%;
	}
	.col-lg-16 {
		width: 26.66666666666667%;
	}
	.col-lg-17 {
		width: 28.33333333333333%;
	}
	.col-lg-18 {
		width: 30%;
	}
	.col-lg-19 {
		width: 31.66666666666667%;
	}
	.col-lg-20 {
		width: 33.33333333333333%;
	}
	.col-lg-21 {
		width: 35%;
	}
	.col-lg-22 {
		width: 36.66666666666667%;
	}
	.col-lg-23 {
		width: 38.33333333333333%;
	}
	.col-lg-24 {
		width: 40%;
	}
	.col-lg-25 {
		width: 41.66666666666667%;
	}
	.col-lg-26 {
		width: 43.33333333333333%;
	}
	.col-lg-27 {
		width: 45%;
	}
	.col-lg-28 {
		width: 46.66666666666667%;
	}
	.col-lg-29 {
		width: 48.33333333333333%;
	}
	.col-lg-30 {
		width: 50%;
	}
	.col-lg-31 {
		width: 51.66666666666667%;
	}
	.col-lg-32 {
		width: 53.33333333333333%;
	}
	.col-lg-33 {
		width: 55%;
	}
	.col-lg-34 {
		width: 56.66666666666667%;
	}
	.col-lg-35 {
		width: 58.33333333333333%;
	}
	.col-lg-36 {
		width: 60%;
	}
	.col-lg-37 {
		width: 61.66666666666667%;
	}
	.col-lg-38 {
		width: 63.33333333333333%;
	}
	.col-lg-39 {
		width: 65%;
	}
	.col-lg-40 {
		width: 66.66666666666667%;
	}
	.col-lg-41 {
		width: 68.33333333333333%;
	}
	.col-lg-42 {
		width: 70%;
	}
	.col-lg-43 {
		width: 71.66666666666667%;
	}
	.col-lg-44 {
		width: 73.33333333333333%;
	}
	.col-lg-45 {
		width: 75%;
	}
	.col-lg-46 {
		width: 76.66666666666667%;
	}
	.col-lg-47 {
		width: 78.33333333333333%;
	}
	.col-lg-48 {
		width: 80%;
	}
	.col-lg-49 {
		width: 81.66666666666667%;
	}
	.col-lg-50 {
		width: 83.33333333333333%;
	}
	.col-lg-51 {
		width: 85%;
	}
	.col-lg-52 {
		width: 86.66666666666667%;
	}
	.col-lg-53 {
		width: 88.33333333333333%;
	}
	.col-lg-54 {
		width: 90%;
	}
	.col-lg-55 {
		width: 91.66666666666667%;
	}
	.col-lg-56 {
		width: 93.33333333333333%;
	}
	.col-lg-57 {
		width: 95%;
	}
	.col-lg-58 {
		width: 96.66666666666667%;
	}
	.col-lg-59 {
		width: 98.33333333333333%;
	}
	.col-lg-60 {
		width: 100%;
	}
	.col-lg-push-0 {
		left: auto
	}
	.col-lg-push-1 {
		left: 1.666666666666667%;
	}
	.col-lg-push-2 {
		left: 3.333333333333333%;
	}
	.col-lg-push-3 {
		left: 5%;
	}
	.col-lg-push-4 {
		left: 6.666666666666667%;
	}
	.col-lg-push-5 {
		left: 8.333333333333333%;
	}
	.col-lg-push-6 {
		left: 10%;
	}
	.col-lg-push-7 {
		left: 11.66666666666667%;
	}
	.col-lg-push-8 {
		left: 13.33333333333333%;
	}
	.col-lg-push-9 {
		left: 15%;
	}
	.col-lg-push-10 {
		left: 16.66666666666667%;
	}
	.col-lg-push-11 {
		left: 18.33333333333333%;
	}
	.col-lg-push-12 {
		left: 20%;
	}
	.col-lg-push-13 {
		left: 21.66666666666667%;
	}
	.col-lg-push-14 {
		left: 23.33333333333333%;
	}
	.col-lg-push-15 {
		left: 25%;
	}
	.col-lg-push-16 {
		left: 26.66666666666667%;
	}
	.col-lg-push-17 {
		left: 28.33333333333333%;
	}
	.col-lg-push-18 {
		left: 30%;
	}
	.col-lg-push-19 {
		left: 31.66666666666667%;
	}
	.col-lg-push-20 {
		left: 33.33333333333333%;
	}
	.col-lg-push-21 {
		left: 35%;
	}
	.col-lg-push-22 {
		left: 36.66666666666667%;
	}
	.col-lg-push-23 {
		left: 38.33333333333333%;
	}
	.col-lg-push-24 {
		left: 40%;
	}
	.col-lg-push-25 {
		left: 41.66666666666667%;
	}
	.col-lg-push-26 {
		left: 43.33333333333333%;
	}
	.col-lg-push-27 {
		left: 45%;
	}
	.col-lg-push-28 {
		left: 46.66666666666667%;
	}
	.col-lg-push-29 {
		left: 48.33333333333333%;
	}
	.col-lg-push-30 {
		left: 50%;
	}
	.col-lg-push-31 {
		left: 51.66666666666667%;
	}
	.col-lg-push-32 {
		left: 53.33333333333333%;
	}
	.col-lg-push-33 {
		left: 55%;
	}
	.col-lg-push-34 {
		left: 56.66666666666667%;
	}
	.col-lg-push-35 {
		left: 58.33333333333333%;
	}
	.col-lg-push-36 {
		left: 60%;
	}
	.col-lg-push-37 {
		left: 61.66666666666667%;
	}
	.col-lg-push-38 {
		left: 63.33333333333333%;
	}
	.col-lg-push-39 {
		left: 65%;
	}
	.col-lg-push-40 {
		left: 66.66666666666667%;
	}
	.col-lg-push-41 {
		left: 68.33333333333333%;
	}
	.col-lg-push-42 {
		left: 70%;
	}
	.col-lg-push-43 {
		left: 71.66666666666667%;
	}
	.col-lg-push-44 {
		left: 73.33333333333333%;
	}
	.col-lg-push-45 {
		left: 75%;
	}
	.col-lg-push-46 {
		left: 76.66666666666667%;
	}
	.col-lg-push-47 {
		left: 78.33333333333333%;
	}
	.col-lg-push-48 {
		left: 80%;
	}
	.col-lg-push-49 {
		left: 81.66666666666667%;
	}
	.col-lg-push-50 {
		left: 83.33333333333333%;
	}
	.col-lg-push-51 {
		left: 85%;
	}
	.col-lg-push-52 {
		left: 86.66666666666667%;
	}
	.col-lg-push-53 {
		left: 88.33333333333333%;
	}
	.col-lg-push-54 {
		left: 90%;
	}
	.col-lg-push-55 {
		left: 91.66666666666667%;
	}
	.col-lg-push-56 {
		left: 93.33333333333333%;
	}
	.col-lg-push-57 {
		left: 95%;
	}
	.col-lg-push-58 {
		left: 96.66666666666667%;
	}
	.col-lg-push-59 {
		left: 98.33333333333333%;
	}
	.col-lg-pull-0 {
		right: auto
	}
	.col-lg-pull-1 {
		right: 1.666666666666667%;
	}
	.col-lg-pull-2 {
		right: 3.333333333333333%;
	}
	.col-lg-pull-3 {
		right: 5%;
	}
	.col-lg-pull-4 {
		right: 6.666666666666667%;
	}
	.col-lg-pull-5 {
		right: 8.333333333333333%;
	}
	.col-lg-pull-6 {
		right: 10%;
	}
	.col-lg-pull-7 {
		right: 11.66666666666667%;
	}
	.col-lg-pull-8 {
		right: 13.33333333333333%;
	}
	.col-lg-pull-9 {
		right: 15%;
	}
	.col-lg-pull-10 {
		right: 16.66666666666667%;
	}
	.col-lg-pull-11 {
		right: 18.33333333333333%;
	}
	.col-lg-pull-12 {
		right: 20%;
	}
	.col-lg-pull-13 {
		right: 21.66666666666667%;
	}
	.col-lg-pull-14 {
		right: 23.33333333333333%;
	}
	.col-lg-pull-15 {
		right: 25%;
	}
	.col-lg-pull-16 {
		right: 26.66666666666667%;
	}
	.col-lg-pull-17 {
		right: 28.33333333333333%;
	}
	.col-lg-pull-18 {
		right: 30%;
	}
	.col-lg-pull-19 {
		right: 31.66666666666667%;
	}
	.col-lg-pull-20 {
		right: 33.33333333333333%;
	}
	.col-lg-pull-21 {
		right: 35%;
	}
	.col-lg-pull-22 {
		right: 36.66666666666667%;
	}
	.col-lg-pull-23 {
		right: 38.33333333333333%;
	}
	.col-lg-pull-24 {
		right: 40%;
	}
	.col-lg-pull-25 {
		right: 41.66666666666667%;
	}
	.col-lg-pull-26 {
		right: 43.33333333333333%;
	}
	.col-lg-pull-27 {
		right: 45%;
	}
	.col-lg-pull-28 {
		right: 46.66666666666667%;
	}
	.col-lg-pull-29 {
		right: 48.33333333333333%;
	}
	.col-lg-pull-30 {
		right: 50%;
	}
	.col-lg-pull-31 {
		right: 51.66666666666667%;
	}
	.col-lg-pull-32 {
		right: 53.33333333333333%;
	}
	.col-lg-pull-33 {
		right: 55%;
	}
	.col-lg-pull-34 {
		right: 56.66666666666667%;
	}
	.col-lg-pull-35 {
		right: 58.33333333333333%;
	}
	.col-lg-pull-36 {
		right: 60%;
	}
	.col-lg-pull-37 {
		right: 61.66666666666667%;
	}
	.col-lg-pull-38 {
		right: 63.33333333333333%;
	}
	.col-lg-pull-39 {
		right: 65%;
	}
	.col-lg-pull-40 {
		right: 66.66666666666667%;
	}
	.col-lg-pull-41 {
		right: 68.33333333333333%;
	}
	.col-lg-pull-42 {
		right: 70%;
	}
	.col-lg-pull-43 {
		right: 71.66666666666667%;
	}
	.col-lg-pull-44 {
		right: 73.33333333333333%;
	}
	.col-lg-pull-45 {
		right: 75%;
	}
	.col-lg-pull-46 {
		right: 76.66666666666667%;
	}
	.col-lg-pull-47 {
		right: 78.33333333333333%;
	}
	.col-lg-pull-48 {
		right: 80%;
	}
	.col-lg-pull-49 {
		right: 81.66666666666667%;
	}
	.col-lg-pull-50 {
		right: 83.33333333333333%;
	}
	.col-lg-pull-51 {
		right: 85%;
	}
	.col-lg-pull-52 {
		right: 86.66666666666667%;
	}
	.col-lg-pull-53 {
		right: 88.33333333333333%;
	}
	.col-lg-pull-54 {
		right: 90%;
	}
	.col-lg-pull-55 {
		right: 91.66666666666667%;
	}
	.col-lg-pull-56 {
		right: 93.33333333333333%;
	}
	.col-lg-pull-57 {
		right: 95%;
	}
	.col-lg-pull-58 {
		right: 96.66666666666667%;
	}
	.col-lg-pull-59 {
		right: 98.33333333333333%;
	}
	.col-lg-offset-0 {
		margin-left: 0
	}
	.col-lg-offset-1 {
		margin-left: 1.666666666666667%;
	}
	.col-lg-offset-2 {
		margin-left: 3.333333333333333%;
	}
	.col-lg-offset-3 {
		margin-left: 5%;
	}
	.col-lg-offset-4 {
		margin-left: 6.666666666666667%;
	}
	.col-lg-offset-5 {
		margin-left: 8.333333333333333%;
	}
	.col-lg-offset-6 {
		margin-left: 10%;
	}
	.col-lg-offset-7 {
		margin-left: 11.66666666666667%;
	}
	.col-lg-offset-8 {
		margin-left: 13.33333333333333%;
	}
	.col-lg-offset-9 {
		margin-left: 15%;
	}
	.col-lg-offset-10 {
		margin-left: 16.66666666666667%;
	}
	.col-lg-offset-11 {
		margin-left: 18.33333333333333%;
	}
	.col-lg-offset-12 {
		margin-left: 20%;
	}
	.col-lg-offset-13 {
		margin-left: 21.66666666666667%;
	}
	.col-lg-offset-14 {
		margin-left: 23.33333333333333%;
	}
	.col-lg-offset-15 {
		margin-left: 25%;
	}
	.col-lg-offset-16 {
		margin-left: 26.66666666666667%;
	}
	.col-lg-offset-17 {
		margin-left: 28.33333333333333%;
	}
	.col-lg-offset-18 {
		margin-left: 30%;
	}
	.col-lg-offset-19 {
		margin-left: 31.66666666666667%;
	}
	.col-lg-offset-20 {
		margin-left: 33.33333333333333%;
	}
	.col-lg-offset-21 {
		margin-left: 35%;
	}
	.col-lg-offset-22 {
		margin-left: 36.66666666666667%;
	}
	.col-lg-offset-23 {
		margin-left: 38.33333333333333%;
	}
	.col-lg-offset-24 {
		margin-left: 40%;
	}
	.col-lg-offset-25 {
		margin-left: 41.66666666666667%;
	}
	.col-lg-offset-26 {
		margin-left: 43.33333333333333%;
	}
	.col-lg-offset-27 {
		margin-left: 45%;
	}
	.col-lg-offset-28 {
		margin-left: 46.66666666666667%;
	}
	.col-lg-offset-29 {
		margin-left: 48.33333333333333%;
	}
	.col-lg-offset-30 {
		margin-left: 50%;
	}
	.col-lg-offset-31 {
		margin-left: 51.66666666666667%;
	}
	.col-lg-offset-32 {
		margin-left: 53.33333333333333%;
	}
	.col-lg-offset-33 {
		margin-left: 55%;
	}
	.col-lg-offset-34 {
		margin-left: 56.66666666666667%;
	}
	.col-lg-offset-35 {
		margin-left: 58.33333333333333%;
	}
	.col-lg-offset-36 {
		margin-left: 60%;
	}
	.col-lg-offset-37 {
		margin-left: 61.66666666666667%;
	}
	.col-lg-offset-38 {
		margin-left: 63.33333333333333%;
	}
	.col-lg-offset-39 {
		margin-left: 65%;
	}
	.col-lg-offset-40 {
		margin-left: 66.66666666666667%;
	}
	.col-lg-offset-41 {
		margin-left: 68.33333333333333%;
	}
	.col-lg-offset-42 {
		margin-left: 70%;
	}
	.col-lg-offset-43 {
		margin-left: 71.66666666666667%;
	}
	.col-lg-offset-44 {
		margin-left: 73.33333333333333%;
	}
	.col-lg-offset-45 {
		margin-left: 75%;
	}
	.col-lg-offset-46 {
		margin-left: 76.66666666666667%;
	}
	.col-lg-offset-47 {
		margin-left: 78.33333333333333%;
	}
	.col-lg-offset-48 {
		margin-left: 80%;
	}
	.col-lg-offset-49 {
		margin-left: 81.66666666666667%;
	}
	.col-lg-offset-50 {
		margin-left: 83.33333333333333%;
	}
	.col-lg-offset-51 {
		margin-left: 85%;
	}
	.col-lg-offset-52 {
		margin-left: 86.66666666666667%;
	}
	.col-lg-offset-53 {
		margin-left: 88.33333333333333%;
	}
	.col-lg-offset-54 {
		margin-left: 90%;
	}
	.col-lg-offset-55 {
		margin-left: 91.66666666666667%;
	}
	.col-lg-offset-56 {
		margin-left: 93.33333333333333%;
	}
	.col-lg-offset-57 {
		margin-left: 95%;
	}
	.col-lg-offset-58 {
		margin-left: 96.66666666666667%;
	}
	.col-lg-offset-59 {
		margin-left: 98.33333333333333%;
	}
	{

}

.magento-autosuggest-head
{
	color: #3c3f40;
	font-size:18px;
	font-weight:400;
	text-align: left;
}
	.skin_color {
		cursor: pointer;
		padding: 0 0.5%;
	}
	.magento-templates{
		cursor:pointer;	position:relative;	
	}
	.fuelux .form-control {
	  height: 30px;
	  text-align: left;
	  width: 85px;
	}
	.fuelux .spinbox .spinbox-input {
		float: left;
		padding: 0 20px !important;
	}
	.fuelux  .btn-group {
		width: auto !important;
	}
	.fuelux .spinbox .spinbox-buttons {
	  height: 28px;
	  position: relative !important;
	  left: -31px !important;
	  width: 20px;
	}
	.thumb-spin{
		margin-left: 34%;
	}
	.brd-none{
		border:none;
	}
	.clear{clear:both;}
	.pad-20{padding:20px;}
	.pad-30{padding:30px;}
	.autosuggest-inner-block{margin:20px 50px; border-bottom: 1px solid #b0b6b9;}
	.autosuggest-text{color:#000;}

	.bootstrap-switch-id-api_intg_switch.bootstrap-switch.bootstrap-switch .bootstrap-switch-container, .bootstrap-switch-id-support_intg_switch.bootstrap-switch.bootstrap-switch .bootstrap-switch-container{
		background: none repeat scroll 0 0 #f3f6f6;
	}	
	.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary{
		background: none repeat scroll 0 0 #48bc8a;
		border-radius: 1px;
		width: 56px !important;
	}
	.bootstrap-switch.bootstrap-switch-off .bootstrap-switch-label, .bootstrap-switch.bootstrap-switch-inverse.bootstrap-switch-on .bootstrap-switch-label{
		width: 29px !important;  background: none repeat scroll 0 0 #f3f6f6;
	}
	.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default{
		 background: none repeat scroll 0 0 #9a9a9a; text-shadow:none;
	}
	.bootstrap-switch.bootstrap-switch-animate .bootstrap-switch-container{
		 background: none repeat scroll 0 0 #f3f6f6;
		width: 185px !important;
	}	
	.bootstrap-switch{
	  	width: 85px !important;
	 	border: 1px solid #a0a0a0;
	  	border-radius: 3px;
	 	box-shadow: none;
	  	margin-left: 8px;
	}
	.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary:hover, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary:hover, .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary:focus, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary:focus, .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary:active, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary:active, .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary.active, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary.active, .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary.disabled, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary.disabled, .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary[disabled], .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary[disabled]{
		background-color:#48bc8a; color:#fff;
	}
	.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default:hover, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default:hover, .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default:focus, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default:focus, .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default:active, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default:active, .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default.active, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default.active, .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default.disabled, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default.disabled, .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default[disabled], .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default[disabled]{
		 background: none repeat scroll 0 0 #9a9a9a;
	}
	.autosuggest_info_box{
		border: 1px solid #dae0e0;
		font-size:0.86em;
		color:#929494;
		margin:0 50px 20px;
		padding: 10px;
	}
	.preview_template{
		background: rgba(0,0,0,0.3);
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%
	}
	.magento-breadcrum{
		padding:15px;
	}
	/*.magento-breadcrum span{
		padding-right:5px;
	}*/
	.breadcrum-prev{
		color: #929494;
	}
	.magento-text2 ul li{
		list-style-type:none;
		padding-bottom:3px;
		background: url("../img/list_bullet.png") no-repeat scroll 0 14px rgba(0, 0, 0, 0);
		padding: 10px 0 10px 25px;
		font-size: 15px
	}
	.magento-text2 ul li img{
		padding-right: 10px;
	}
	
	.magento-text2 ul{
		padding-left: 20px;
		margin-top:20px;
	}
	.brd-top-0{
		border-top:none !important;
	}
	.search_info_box{
		background: #f2f5f5;
		padding:10px;
		border:1px solid #dae0e0;
		color: #929494;
		line-height: 1em;
	}
	.search_info_box > img {
		float: left;
		padding-right: 5px;
	}
	.search_info_box > span {
		color:#000;
	}
	.magento-text a, .magento-text a:hover.search_info_box a, .search_info_box a:hover{
		color: #05b3aa !important;
	}
	.btn-magento-blue{
		color:#fff; background:#05b3aa; border-radius:4px; border:none; height: 30px; width: 150px;
	}
	.magento-head {
	  padding: 15px 10px 15px 10px;
	  border: 1px solid #cddbde;
	  border-radius: 3px;
	}
	.unbxd-head-div{
		height:90px !important;
	}

	@media (min-width: 1600px) {
		.contact-us-footer{
			width:12.25% !important;
		}
		.spinbox {
		    margin-right: 33.5%;
		}
		.thumb-spin{
			margin-left: 32%;
		}
	}
