.unbxd-container a, .unbxd-container a:hover{
	text-decoration: none;
}
.container{
	background-color: #f3f6f6;
}
.middle-nav-magento-dropdown, .background-grey{
    background-color: #f3f6f6;
}
.middle-nav-magento-dropdown{
	/*top: 185px;*/
	width: 100%;
}
.top-200{
	top:200px !important;
}
.top-185{
	top: 185px !important;
}
.clickable-btn,.clickable{
	cursor: pointer;
}
.magento-active{
	border-top: 0;
	border-bottom: 1px solid #4e5253;
	background: #05b4ae url('../img/arrow-white.png') no-repeat 90%;
	cursor: default;
	pointer-events: none;
	border: 0;
}
ul.magento-nav .magento-active:last-child{
	pointer-events: auto;
	cursor: pointer;
}
.site-key-help {
	display: none;
	top: 329px;
	position: absolute;
	left: 470px;
}
.secret-key-help{
	display: none;
	top: 329px;
	position: absolute;
	left: 870px;
}
.blue-link{
	color: #11b3c7;
	cursor: pointer;
	padding-top: 13px;
	padding-left: 10px;
}
.custom-attributes{
	display: none;
}
.middle-nav-text {
	padding-left: 5px;
	color: #3c3f40;
	font-size: 16px;
	font-weight: 400;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 0;
}
.chosen-drop{
	z-index: 999999 !important;
}
.capitalize{
	text-transform: capitalize;
}
.unbxd-table{

border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(222, 226, 228);
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-top-style: solid;
border-top-width: 1px;
box-sizing: border-box;
color: #5c656a;
font-family: "Helvetica Neue", Helvetica, Sans-Serif;
font-size: 14px;
font-style: normal;
font-variant: normal;
font-weight: normal;
line-height: 20px;
margin-bottom: 20px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
max-width: 100%;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
width: 100%;
}
.unbxd-thead{
color: rgb(51, 51, 51);
font-family: "Helvetica Neue", Helvetica, Sans-Serif;
font-size: 14px;
font-style: normal;
font-variant: normal;
font-weight: normal;
height: 42px;
line-height: 20px;

}
.unbxd-tr{
	border-bottom-color: rgb(222, 226, 228);
border-collapse: separate;
border-left-color: rgb(222, 226, 228);
border-right-color: rgb(222, 226, 228);
border-top-color: rgb(222, 226, 228);
box-sizing: border-box;
color: rgb(51, 51, 51);
font-family: "Helvetica Neue", Helvetica, Sans-Serif;
font-size: 14px;
font-style: normal;
font-variant: normal;
font-weight: normal;
height: 42px;
line-height: 20px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
vertical-align: middle;
}
.unbxd-th{

background-color: rgb(60, 63, 64);
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
border-bottom-style: none;
border-bottom-width: 0px;
border-collapse: separate;
border-right-color: rgb(255, 255, 255);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(255, 255, 255);
border-top-left-radius: 5px;
border-top-right-radius: 0px;
border-top-style: none;
border-top-width: 0px;
box-sizing: border-box;
color: rgb(255, 255, 255);
font-family: "Helvetica Neue", Helvetica, Sans-Serif;
font-size: 18px;
font-style: normal;
font-variant: normal;
font-weight: normal;
height: 42px;
line-height: 42pxpx;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 8px;
padding-left: 20px;
padding-right: 0px;
padding-top: 10px;
text-align: left;
}
.unbxd-tbody{
	border-bottom-color: rgb(222, 226, 228);
border-collapse: separate;
border-left-color: rgb(222, 226, 228);
border-right-color: rgb(222, 226, 228);
border-top-color: rgb(222, 226, 228);
box-sizing: border-box;
color: rgb(51, 51, 51);
display: table-row-group;
font-family: "Helvetica Neue", Helvetica, Sans-Serif;
font-size: 14px;
font-style: normal;
font-variant: normal;
font-weight: normal;
height: 549px;
line-height: 20px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
vertical-align: middle;
width: 666px;
}
.unbxd-td{
	border-collapse: separate;
border-right-color: rgb(222, 226, 228);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(221, 221, 221);
border-top-style: solid;
border-top-width: 1px;
box-sizing: border-box;
color: rgb(92, 101, 106);
display: table-cell;
font-family: "Helvetica Neue", Helvetica, Sans-Serif;
font-size: 16px;
font-style: normal;
font-variant: normal;
font-weight: normal;
height: 72px;
line-height: 22.8571434020996px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 15px;
padding-left: 23px;
padding-right: 100px;
padding-top: 15px;
text-transform: capitalize;

}
.width-45{
	width: 45%;
}
.width-55{
	width: 55%;
}
.width-50{
	width: 50%;
}
.tr-row{
	width: 100%;
	height: 42px;
	line-height: 42px;
}
.td-right{
	float: right;
	border-left: 1px solid #dee2e4 !important;
	border-bottom: 1px solid #dee2e4 !important;
	height: 100%;
}
.td-left{
	float: left;
	height: 100%;
	/*padding-top: 19px;*/
	padding-left: 32px;
    font-size: 16px;
	border-bottom: 1px solid #dee2e4 !important;
}
.magento-border-left{
	border-left: 1px solid #dee2e4 !important;
}
.magento-border-right{
	border-right: 1px solid #dee2e4 !important;
}
.unbxd-err{
	float: right;
	position: absolute;
	left: 694px;
	width: 200px;
	padding-top: 7px;
	color: red;
}
#selectSites + div.chosen-container {
	width: 100% !important;
}
.width-70{
	width: 70% !important;
}
.width-100 > .chosen-container{
	width: 100% !important;
}
.custom-attributes-td{
	padding: 0;
	/*padding-top: 4px;*/
	padding-right: 3px;
}
.remove-row{
	margin-top: 2px;
	margin-left: 5px;
	width: 21%;
	height: 35px;
	background-color: #dae0e0;
	background-image: url("../img/delete-raw.png");
	background-repeat: no-repeat;
	background-position: center;
	min-width: 32px;
	min-height: 36px;
	border-radius: 3px;
}
.remove-row:hover{
	background-image: url("../img/delete-raw-hover.png");
	background-color: #fc6956;
}
.add-row{
	margin-top: 2px;
	margin-left: 5px;
	width: 21%;
	height: 35px;
	background-color: #dae0e0;
	background-image: url("../img/add-raw.png");
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 3px;
	min-width: 32px;
	min-height: 36px;
}
.add-row:hover{
	background-image: url("../img/add-raw-hover.png");
	background-color: #3c3f40;
}
.disabled-btn{
	opacity: 0.5;
	cursor: default;
	pointer-events: none;
}
.width-62{
	width: 62%;
}
.unbxd-div-td{
	float: left;
	height: 100%;
/*	padding-top: 19px;
	padding-left: 32px;*/
	font-size: 15px;
	border-bottom: 1px solid #dee2e4 !important;
	border-left: 1px solid #dee2e4 !important;
	font-weight: 300;
}
.width-28{
	width: 28%;
}
.width-30{
	width: 30%;
}
.width-42{
	width: 42%;
}
.unbxd-hide{
	display: none !important;
}
.pad-top{
	padding-top: 20px;
}
.border-left-color{
	margin-left: 25px;
	margin-right: 25px;
	width: 96%;
}
.background-white{
   background-color: #FFF !important;
}
.pad-left-45{
	padding-left: 45px;
}
.footer{
	position: fixed;
	width: 100%;
	padding-top: 19px;
	background: #efefef;
	bottom: -55px;
}
.footer:hover{
	/*bottom: -5px !important;*/
}
.pad-btm-10p{
	padding-bottom: 10%;
}
.chosen-container{
	width: 354px !important;
}
._unbxd-err{
	color: red;
	padding-left: 13%;
	font-weight: bold;
}
._unbxd-success{
	color: #0ca672;
	padding-left: 4%;
	font-weight: bold;
}
.unbxd-disabler{
	opacity: 0.5;
	margin-bottom: 5%;
}
.pad-left-msg{
	padding-left: 35%;
}
.width-25{
	width: 25%;
}
.width-35{
	width: 35%;
}
.width-40{
	width: 40%;
}
.pad-left-10{
	padding-left: 13px;
}
.pad-btm-0{
	padding-bottom: 0 !important;
}
.height-100{
	height: 100%;
}
.unbxd-success-msg{
	color: green;
	font-weight: bold;
	font-size: 13px;
}
.unbxd-error-msg{
	color: red;
	font-weight: bold;
	font-size: 13px;
}
.unbxd-center-div{
	margin: 0 auto;
	width: 50%;
	text-align: center;
}
.pad-top-20{
	padding-top: 20px;
}
.pad-top-30{
	padding-top: 30px;
}
.inner-container-magento .popover, .inner-container-magento .popover-title, .inner-container-magento .popover-content {
	background: #3c3f40;
	color: rgb(255, 255, 255);
	font-family: "Helvetica Neue", Helvetica, Sans-Serif;
	font-size: 12px;
	font-style: normal;
	font-weight: 100;
	border: none;
	letter-spacing: 1px;
	line-height: 20px;
}
.magento-number-text {
	width: 109px;
}
.box-35{
	width: 35px;
	height: 35px;
}
div.chosen-disabled > a.chosen-single > div {
	display: none;
}
div.chosen-container-single ,div.chosen-container-single > a.chosen-single {
	border: 0;
	background-color: inherit;
}
div.middle-nav-dropdown a.chosen-single {
	background-color: #FFF;
}
div.chosen-container-single > a.chosen-single > div b {
	background: url(../img/drop-down.png) no-repeat 50%!important;
	width: 28px!important;
	
}
.bord-right{
	border-right: 1px solid #dee2e4 !important;
}
.chosen-disabled{
	opacity: 1 !important;
}
.delete-row{
	float: left;
}
.width-80{
	width: 80% !important;
}
.width-20{
	width: 20%;
}
div.cudtom-attr-rows  div div.add-row{
	display: none;
}
div.cudtom-attr-rows >  div:last-child div.add-row{
	display: block;
}
.width-38{
	width: 38%;
}
.pad-top-5{
	padding-top: 5px !important;
}
.width-64{
	width: 64%
}
.width-36{
	width: 36%
}
.btn-add-attribute, .btn-add-attribute:hover{
	background: #3b3e40 url('../img/add.png') no-repeat 97%;
}
.magento-analytics-tick
{
	background:#45b5c1 url('../img/DONE.png') no-repeat 50%;
}
.magento-analytics-cross
{
	background: url('../img/red-loading.gif') no-repeat;
	background-size: 100%;
	background-position: center;
}
.unbxd-top-strip{
  /*border-top: 2px solid #45b5c1;*/
}
.unbxd-green-border{
	border: 1px solid  #47b28e;
}
.unbxd-green-border{
	border: 1px solid #db2727;
}
.magento-analytics-block{
	border: 1px solid #47b28e
}
.magento-analytics-block1 {
	border: 1px solid #db2727;
}
.word-break{
	word-wrap:break-word;
}
.height-75p{
	height: 95px;
}
.unbxd-text-center{
	padding-top: 10px;
}
.pad-left-15{
	padding-left: 15px;
}
.unbxd-text-verticle-center{
	display: flex;
	align-items: center; 
}
.background-success{
	background-color:  #47b28e;
	height: 102px;
}
.background-success div.magento-text{
	color: #FFF;
}
.succes-div{
	background:#47b28e url('../img/congrats.png') no-repeat 50%;
	width: 13%;
	height: 90px;
}
.pad-10{
	padding: 10px;
}
.success-head{
	font-weight: bold;
	font-size: 20px;
}
.magento-landing-block{
	background-color: rgb(60, 63, 64);
}
.blue-link-help{
	color: #05b4ae;
	cursor: pointer;
}
.cms-help{
	padding-bottom: 20px;
	font-size: 16px;
	padding-left: 30px;
	padding-top: 5px;
}
.hide-over-flow{
	overflow: hidden;
}
.width-60{
	width: 60%;
}
.unbxd-caps{
	text-transform: capitalize;
}
.pad-top-32{
	padding-top: 32px;
}
.background-dark-grey{
	background-color: rgba(210, 216, 216, 1) !important;
}
.unbxd-border{
	border: 1px solid #cddbde;
}
.z99{
	z-index: 99;
}

ul.magento-conf-tabs li a {
	width: 25%;
	padding-left: 0 !important;
	font-weight: 400;
	font-size: 16px;
	border-right: 2px solid #B6BCBD;
	padding-left: 2% !important;
	cursor: pointer;
}
ul.magento-conf-tabs li:last-child > a{
	border-right: 0;
}
.magento-head-active{
	background-color: #FFF !important;
}
.txt-center{
	text-align: center;
}
.height-80{
	height: 80%;
}
.unbxd-bold{
	font-weight: bold;
}
.help-table-head{
	background-color: #FFF;
	color: black;
}
div#unbxdHelpRows div div {
	padding-left: 4%;
}
.border-right-rad{
	border-radius: 0;
	border-top-right-radius: 5px;
}
.unbxd-mar-left-30 {
	margin-left: 30% !important;
}
.unbxd-mar-btm-20{
	margin-bottom: 20px !important;
}
.note-head{
	color: black;
	font-weight: bold;
}
.font17{
	font-size: 17px;
}
div.middle{
	padding: 0;
}
.unbxd-container{
	border-top: 6px solid #45b5c1;
	background-color: #f3f6f6;
	float: left;
	overflow: hidden;
	width: 100%;
	 width:100%;
    overflow:hidden;
    font-family: "Helvetica Neue", Helvetica, Sans-Serif;
}
.width-17{
	width:17%;
}
.width-82{
	width: 82%;
}
.unbxd-left {
    float:left;
    position:relative;
    min-width: 205px;
}
.unbxd-right {
    float:right;
    position: relative;
    padding:3px;
}
/*.magento-success-block, .magento-label{
	font-weight: 300;
}*/
.chosen-drop, .no-radius{
	border-radius: 0px !important;
}
.weight300{
	font-weight: 300;
}
.width-220{
	width: 220px;
}
.no-border-right{
	border-right: 0px !important;
}
.no-left-top-rad{
	border-top-left-radius: 0px;
}
div.popover div.arrow{
	background: transparent !important;
}
.popover.right .arrow:after {
	border-right-color: rgb(60, 63, 64) !important;
}
.popover-content{
   color: #F3F6F6;
   font-size: 14px;
}
ul.magento-conf-tabs  .magento-head-active {
	 background-color: #E1E6E6;
}
a.magento-head-active  {
	color: #4e5356 !important;
	background: url('../img/level-arrow-active.png') no-repeat 92% !important;
	background-color: #FFF !important;
}
.pad-top-34{
	padding-top: 34px;
}
.table-magento div.tr-row:nth-child(even) {
    background-color: #f3f6f6;;
}
.unbxd-saved{
	width: 21px;
	height: 21px;
	float: left;
	margin-right: 5px;
	background: url('../img/saved.png') no-repeat !important;
}
.header-border{
	border: 1px solid #dee2e4;
	padding: 2px 2px 2px 9px;
}
.grey-text{
	color: #929494;
}
.info-icon-big{
	background: url('../img/info-icon-big.png') no-repeat 92%;
	width: 35px;
	height: 40px;
}
.mar-right-10{
	margin-right: 10px;
}
.pad-top-10{
	padding-top: 10px;
}
.mar-top-10{
	margin-top: 10px;
}
.height-250{
	height: 250px
}
.add-filter{
	/*width: 275px;*/
	height: 187px;
	border: 1px solid #dee2e4;
	position: relative;
	text-align: center;
	border-radius: 4px;
}
.mar-top-15{
	margin-top: 15px;
}
.add-icon{
	background: url('../img/add-rule.png') no-repeat 55%;
	width: 40px;
	height: 40px;
}
.mar-0-auto{
	margin: 0 auto;
}
.width-40p{
	width: 40%;
}
.bolder-grey{
	border: 1px solid #dee2e4;
}
.after-rule{
	height: 150px;
}
.mar-left-10{
	margin-left: 10px;
}
.pad-top-5p{
	padding-top: 5%;
}
.rule-after-text{
	text-align: center;
}
.hr-line{
	display: block;
	height: 1px;
	border: 0;
	border-top: 2px dotted #dee2e4;
	margin: 1em 0;
	padding: 0;
}
.width-25p{
	width: 25%;
}
.width-50p{
	width: 50%;
}
.close-icon{
	width: 30px;
	height: 30px;
	background:url('../img/close.png') no-repeat center center;
}
.close-icon-round{
	width: 30px;
	height: 30px;
	background:url('../img/close-round.png') no-repeat center center;
}
.right-top-edge{
  position: absolute;
  top: -10px;
  right: -10px;
}
.box-35{
	width: 30px;
	height: 35px;
}
.skins{
	text-align: center;
}
.skins div{
	display: inline-block;
	color: white;
	margin-right: 10px;
}
.background-295-247{
	background-size: 295px 247px !important;
}
.box-200{
	width: 200px;
	height: 200px;
}
.template-box{
	width: 296.046875px !important;
	height: 255px;
}
.fuelux .spinbox .spinbox-buttons {
	position: absolute;
	height: 28px;
	width: 20px;
	right: 2px;
	top: 1px;
}
.fuelux .spinbox .btn-group > .btn.spinbox-up {
	background: url("../img/spinner_up.png") repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
	border-top-right-radius: 4px;
}
.fuelux .spinbox .spinbox-down {
	background: url("../img/spinner_down.png") repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
	border-bottom-left-radius: 4px;
	top: 4px;
}
.fuelux .spinbox .btn {
	height: 11px;
	padding-left: 9px;
	padding-right: 9px;
	padding-top: 0;
	position: relative;
	width: 28px;
}
.fuelux .spinbox .spinbox-up {
	top: 2px;
}
.magento-row-tabs {
	float: left;
	width: 100%;
    background-color: #f3f6f6;
	padding: 8px 0px;
	border: 1px solid #c6d1d3;
    color: #929494;
}
.info-icon-small{
	background: url('../img/info-small.png') no-repeat;
	width: 20px;
	height: 20px;
}
.pad-right-10{
	padding-right: 10px;
}
.pad-btm-25{
	padding-bottom: 25px;
}
.autosuggest-text {
    color: #4e5356;
}
.magento-text {

}
.dummy{
    
}
.mar-btm-20 {
margin-bottom: 20px;
}
.autosuggest-inner-block {
	margin: 20px 50px;
	border-bottom: 1px solid #b0b6b9;
}
.height-20{
	height: 20px;
}
.box-30{
	width: 30px;
	height: 30px;
}
.pad-right-20{
	padding-right: 20px;
}
.height-50{
	height: 50px;
}
.pad-top-1p{
	padding-top: 1%;
}
.preview_btn_holder {
	background: url("../img/view.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	background-position: 47%;
}
.preview_btn_holder:hover{
	background: url("../img/view-hover.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	background-position: 47%;
}
.display-inline{
	display: inline-block;
}
.pad-top-40p{
	padding-top: 40%;
}
.width-170{
	width: 170px;
}
.mar-left-56n{
	margin-left: -56px;
}
.width-56 {
	width: 56px;
}
.mar-left-32p{
	margin-left: 32%;
}
.box-40{
	height: 40px;
	width: 40px;
}
.back-white-circle, .back-white-circle:hover{
	background-color: #FFF;
	border-radius: 100%;
}
.pad-top-35p{
	padding-top: 35%;
}
.mar-right-20{
	margin-right: 20px;
}
.hexagon {
	background: red;
	position: relative;
	height: 15px;
}
.hexagon:before {
	content: "";
	position: absolute;
	top: -10px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	
}
.hexagon:after {
	content: "";
	position: absolute;
	bottom: -10px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	
}
.hexagon-orange{
	background: #ff7800;
}
.hexagon-orange:before{
	border-bottom: 10px solid #ff7800;
}
.hexagon-orange:after{
	border-top: 10px solid #ff7800;
}

.hexagon-green{
	background: #29BD9F;
}
.hexagon-green:before{
	border-bottom: 10px solid #29BD9F;
}
.hexagon-green:after{
	border-top: 10px solid #29BD9F;
}

.hexagon-red{
	background: #dd424f;
}
.hexagon-red:before{
	border-bottom: 10px solid #dd424f;
}
.hexagon-red:after{
	border-top: 10px solid #dd424f;
}

.hexagon-blue{
	background: #004C92;
}
.hexagon-blue:before{
	border-bottom: 10px solid #004C92;
}
.hexagon-blue:after{
	border-top: 10px solid #004C92;
}
.box-32{
	width:32px;
}
.cursor-default{
	cursor: default !important;
}
.magento-templates{
	border: 1px dashed;
	height: 248px;
	text-align: center;
}
.magento-templates > div:first-child{
	margin: 0 auto;
	height: 99%;
	background-position: center center;
	width: 100%;
}
.width-70p{
	width: 70%;
}
.width-92p{
	width: 92%;
}
.width-84p{
	width: 84%;
}
.skin1{
 background: url('../img/skin1.png') no-repeat center center;
}
.skin2{
	background: url('../img/skin2.png') no-repeat center center;
}
.skin3{
	background: url('../img/skin3.png') no-repeat center center;
}
.skin4{
	background: url('../img/skin4.png') no-repeat center center;
}
.skin1-orange{
	background: url('../img/orange-selected.png') no-repeat center center;	
}
.skin2-green{
	background: url('../img/green-selected.png') no-repeat center center;
}
.skin3-grey{
	background: url('../img/grey-selected.png') no-repeat center center;
}
.skin4-blue{
	background: url('../img/blue-selected.png') no-repeat center center;
}
.custom-skin{
	background-image:  url('../img/custom-color.png'); 
	background-repeat: no-repeat;
	background-position: center center;
}
.custom-skin.selected{
	background-image:  url('../img/custom-color-selected.png'); 
}
.template-coming{
	background: url('../img/temp-6.png') no-repeat center center;
}
.template1-orange{
	background: url('../img/temp-1-orange.png') no-repeat;
}
.template2-orange{
	background: url('../img/temp-2-orange.png') no-repeat;
}
.template3-orange{
	background: url('../img/temp-3-orange.png') no-repeat;
}
.template4-orange{
	background: url('../img/temp-4-orange.png') no-repeat;
}
.template5-orange{
	background: url('../img/temp-5-orange.png') no-repeat;
}
.template6-orange{
	background: url('../img/temp-6-orange.png') no-repeat;
}

.template1-green{
	background: url('../img/temp-1-green.png') no-repeat;
}
.template2-green{
	background: url('../img/temp-2-green.png') no-repeat;
}
.template3-green{
	background: url('../img/temp-3-green.png') no-repeat;
}
.template4-green{
	background: url('../img/temp-4-green.png') no-repeat;
}
.template5-green{
	background: url('../img/temp-5-green.png') no-repeat;
}

.template1-grey{
	background: url('../img/temp-1-grey.png') no-repeat;
}
.template2-grey{
	background: url('../img/temp-2-grey.png') no-repeat;
}
.template3-grey{
	background: url('../img/temp-3-grey.png') no-repeat;
}
.template4-grey{
	background: url('../img/temp-4-grey.png') no-repeat;
}
.template5-grey{
	background: url('../img/temp-5-grey.png') no-repeat;
}

.template1-blue{
	background: url('../img/temp-1-blue.png') no-repeat;
}
.template2-blue{
	background: url('../img/temp-2-blue.png') no-repeat;
}
.template3-blue{
	background: url('../img/temp-3-blue.png') no-repeat;
}
.template4-blue{
	background: url('../img/temp-4-blue.png') no-repeat;
}
.template5-blue{
	background: url('../img/temp-5-blue.png') no-repeat;
}
.custom-template1-true{
	background-image: url('../img/custom-temp-1.png');
	background-repeat: no-repeat;
}
.custom-template2-true{
	background-image: url('../img/custom-temp-2.png');
	background-repeat: no-repeat;
}
.custom-template3-true{
	background-image: url('../img/custom-temp-3.png');
	background-repeat: no-repeat;
}
.custom-template4-true{
	background-image: url('../img/custom-temp-4.png');
	background-repeat: no-repeat;
}


.preview_template{
	display: none;
	cursor: default;
}
.preview_template div{
	cursor: pointer;
}
.template1-1-selected ,
.template2-2-selected ,
.template3-3-selected  ,
.template4-4-selected {
	display: block !important;
}
.tick-mark{
	background: url("../img/tick.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	background-position: 47%;
	background-color: #FFF;
	border-radius: 100%;
}
.tick-mark:hover,
.template1-1-selected .tick-mark,
.template2-2-selected .tick-mark,
.template3-3-selected .tick-mark ,
.template4-4-selected .tick-mark{
	background: url("../img/tick-orange.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	background-position: 47%;
	background-color: #FFF;
	border-radius: 100%;
}
.pad-left-12{
	padding-left: 12px;
}
.magento-heading{
    color:#4e5356; 
    font-size: 27.41px; 
}
.width-50p{
	width: 50%;
}
.height-70p {
	height: 70%;
}
.width-40p{
	width: 40%;
}
.template-preview-modal .modal-dialog{
	position: relative;
	margin: 0 auto;
	right: inherit !important;
	left: initial !important;
	width: 65%;
	height: 100%;
}
.contact-us-modal .modal-dialog{
	width: 55%;
}
.template-preview-modal .image-div {
	height: 106%;
	margin: 0 auto;
	background-position: center center;
	background-repeat: no-repeat;
	/*background-size: 100% 100%;*/
}


.template-preview-modal-1orange{
	background: url("../img/temp-1-preview-orange.png") no-repeat;
}
.template-preview-modal-2orange{
	background: url("../img/temp-2-preview-orange.png") no-repeat;
}
.template-preview-modal-3orange{
	background: url("../img/temp-3-preview-orange.png") no-repeat;
}
.template-preview-modal-4orange{
	background: url("../img/temp-4-preview-orange.png") no-repeat;
}

.template-preview-modal-1green{
	background: url("../img/temp-1-preview-green.png") no-repeat;
}
.template-preview-modal-2green{
	background: url("../img/temp-2-preview-green.png") no-repeat;
}
.template-preview-modal-3green{
	background: url("../img/temp-3-preview-green.png") no-repeat;
}
.template-preview-modal-4green{
	background: url("../img/temp-4-preview-green.png") no-repeat;
}

.template-preview-modal-1grey{
	background: url("../img/temp-1-preview-grey.png") no-repeat;
}
.template-preview-modal-2grey{
	background: url("../img/temp-2-preview-grey.png") no-repeat;
}
.template-preview-modal-3grey{
	background: url("../img/temp-3-preview-grey.png") no-repeat;
}
.template-preview-modal-4grey{
	background: url("../img/temp-4-preview-grey.png") no-repeat;
}

.template-preview-modal-1blue{
	background: url("../img/temp-1-preview-blue.png") no-repeat;
}
.template-preview-modal-2blue{
	background: url("../img/temp-2-preview-blue.png") no-repeat;
}
.template-preview-modal-3blue{
	background: url("../img/temp-3-preview-blue.png") no-repeat;
}
.template-preview-modal-4blue{
	background: url("../img/temp-4-preview-blue.png") no-repeat;
}
.add-filter,
.add-filter .chosen-container-single .chosen-single,
.add-filter input
{
	color: #929494;
	/*font-size: 16.45px;*/
}

.filter-select-box{
	/*padding-left: 12px;*/
	padding-top: 12px;
	margin-bottom: 10px;
}
.filter-select-box .chosen-container{
	width: 90% !important;
    height: 40px !important;
	border: 1px solid #dee2e4;
	border-radius: 2em/2em;
	margin: 0 auto;
	text-align: left;
}
.filter-input-box{
	width: 100%;
	height: 63px;
	background-color: #dae1e1;
	text-align: center;
	text-align: center;
	padding-top: 4%;
}
.filter-input-box input{
	width: 90%;
	height: 40px;
	border-radius: 3px;
	border: 1px solid #FFF;	
	padding-left: 3px;
}
.filter-input-box input:focus{width:90%;}
.filter-input-box-number input:focus{width:44%; border:1px solid #05b4ae;}
.filter-input-box-number input{
	width: 44%;
	height: 40px;
	border-radius: 3px;
	border: 1px solid #FFF;	
	padding-left: 3px;
}
.filter-input-box-number input:last-child{
	margin-left: 2%;
	content: 'test'
}
.breadcrumb-arrow{
	padding-left: 20px;
	padding-right: 20px;
	background:url('../img/breadcrumb_arrow.png') no-repeat center;
}
.brd-btm-0{
	border-bottom: 0 !important;
}
.pad-left-3p{
	padding-left: 3%;
}
.contact-us-footer{
  background-color: #05b4ae;
  width: 15.8%;
  height: 45px;
  left: 6px;
  color: #ffffff;
  font-size: 16px;
  bottom: 45px !important;
  padding-top: 0.7%;
  padding-right: 1%;
  padding-left: 1.5%;
  text-align: left;
  border-radius: 3px;
  max-width: 250px;
}
.contact-us-footer:hover{
	bottom: 45px !important;
	cursor: pointer;
}
.mail-box{
	margin-right: 10px;
	width: 25px;
	height: 20px;
	background: url("../img/mail-box.png") no-repeat center;
}  
.pad-top-4p{
	padding-top: 4%;
}
.back-pos-0-0{
	background-position: 0px 0px;
}
.pad-left-50{
	padding-left: 50px !important;
}
.pad-right-50{
	padding-right: 50px;
}
.mar-left-50{
	margin-left: 50px;
}
.mar-right-50{
	margin-right: 50px;
}
.pad-right-15{
	padding-right: 15px;
}
.optional-text{
    color: #a6a6a6;
}
.pad-top-7p{
	padding-top: 7%;
}
.pad-left-right-0{
	padding-left: 0;
	padding-right: 0;
}
.rules-block > div.after-rule:nth-child(n+6) {
	display: none;
} 
.rules-block div.add-filter:last-child{
	border: 2px dotted #dee2e4;
}
.rules-block{
	margin-left:0;
}
div.after-rule + .rules-block div.add-filter:last-child {
	display: none;
}
.clear-both{
	clear: both;
}
.width-270{
	width: 270px;
}
.border-grey{
	border: 1px solid #dee2e4;
}
.border-0{
	border: 0;
}
.unbxd-input-error{
	border: 1px solid #FE6A56 !important;
}
.unbxd-input-error-parent > .chosen-container{
	border: 1px solid #FE6A56 !important;
}
.float-none{
	float: none !important;
}
.width-100px{
	width: 100px;
}
.filters-saved{
	padding-top: 3%;
	width: 100px;
	height: 40px;
	padding-left: 10%;
	background: url('../img/saved.png') no-repeat;
	background-position: 15px 8px;
	text-align: center;
}
.filter_toggle{
	display: none;
}
  
.filters-saved-div{
	background: white;
	text-align: center;
	height: 40px;
	padding-left: 10%;
	width:28.33%;
}
.filters-saved-div > div{
	height: 40px;
	width: 15%;
	float: left;
	line-height: 40px;
}
.filters-saved-div div:last-child{
	padding-left: 2%;
	color: #5c656a !important
}
.save-icon{
	background: url('../img/save.png') ;
	background-position: center ;
	background-repeat: no-repeat ;
}
.success-icon-big{
	background: url('../img/success-icon-big.png') ;
	background-position: center ;
	background-repeat: no-repeat ;
}
.success-icon{
	background: url('../img/saved.png');
	background-position: center ;
	background-repeat: no-repeat ;
}
.mar-top-30{
	margin-top: 30px;
}
.box-50{
	width: 50px;
	height: 50px;
}
.sync-success{
   color: #20af7f;
   font-size: 14px;
   font-weight: 400;
}
.success-second-text{
	font-size: 10.96px;
}
.emailid-collection{
	float: left;
	max-width: 92%;
}
.emailid-collection div{
	background-color: #f5f5f5;
	border: 1px solid #d9d9d9;
	cursor: default;
	display: block;
	height: 22px;
	border-radius: 3px;
	color: #222;
	max-width: 325px;
	max-height: 25px;
	display: inline-block;
	padding-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
}
.remove-id{
	float: right;
	background: url('../img/mail-id-sprite.png');
	width: 20px;
	height: 20px;
	background-position: 0px -22px;
}
.remove-id:hover{
	cursor: pointer;
	background-position: 0px 0px;
}
.modal-dialog {
	overflow: visible;
}
.mar-top-0{
	margin-top: 0 !important;
}
.font-15{
	font-size: 15px;
}
.font-16{
	font-size: 16px;
}
.font-17{
	font-size: 17px;
}
.second-level-head{
	color: #4e5356;
}
.unbxd-md-offset-2{
	margin-left: 2.22%;
}
.unbxd-code{
	height: 37px;
	text-align: left;
	padding-top: 10px;
	color: #05b4ae;
	margin-top: 10px
}
.magento-redbar {
	background-color: rgba(254, 106, 86, 0.9);
	opacity: 0.9;
	padding:35px 0px;
	text-align: center;
	font-size:15px;
	font-weight:400;
	color: #fff;
	position: absolute;
	top:0;
	left:0;
	z-index:2;
	top: 38px;
	height: 1%;
	margin-left: 54px;
	width: 89.5%;
	background-color: rgba(254, 106, 86, 0.9);
}
.unbxd-disabled-cover {
	height: 110%;
	position: absolute;
	cursor: default;
	margin-left: 54px;
	width: 89.5%;
	background-color: rgba(0, 0, 0, 0.2);
	left: 0;
}
.minus-icon{
	background: url('../img/minus.png');
	background-repeat: no-repeat;
	width: 25px;
	height: 36px;
	background-position: center;
}
.plus-icon{
	background: url('../img/plus.png');
	background-repeat: no-repeat;
	width: 25px;
	height: 36px;
	background-position: center;
}
.background-inactive{
	background-color: #f9f9f9;
}
.background-center{
	background-position: center;
}
.background-disabled{
	pointer-events: none;
	background-color: #f3f6f6;
}
.info-note{
	font-size: 12px;
}
.unhoverd-btn{
	opacity: 0.6;
}
.unhoverd-btn:hover{
	opacity: 1;
}
.rec-code-eg{
	padding: 30px 20px;
	padding-top: 4px;
	width: 44%;
	margin-top: 10px;
	border: 0px;
	margin-bottom: 10px;
}
.chosen-container-active > a{
	border: 0px !important;
}
.middle-nav-dropdown .unbxd-border:hover{
	border: 1px solid #ABB8BB;
}
.middle-nav-dropdown .chosen-results{
	border: 1px solid #ABB8BB;
	border-top: 0;
}
.magent0-left-nav{
	max-width: 250px;
	overflow: hidden !important;
}
.width-83{
	width: 83%;
}
.unbxd-head-div{
	height: 60px;
	padding-top: 12px;
}
.brd-top-btm-0{
	border-top: 0;
	border-bottom: 0;
}
.height-100px{
	height: 100px;
}
.overflow-auto{
	overflow: auto;
}
.unbxd-outer-block  {

}
.unbxd-outer-block > div:not(.unbxd-outer-block) {
	width: 100%;
	padding: 15px 50px 10px 50px;
	background-color: #fff;
	border-left: 1px solid #cddbde;
	border-right: 1px solid #cddbde;
}
.inner-container-magento .unbxd-outer-block:first-child{
	/*border: 1px solid #cddbde;*/
	border-top: 0;
}
.bordered-div{
	border-top: 1px solid #cddbde;
	border-bottom: 1px solid #cddbde;
}
.unbxd-info-text{
	padding-top: 20px;
	padding-bottom: 20px;
	height: 58px;
}
.cudtom-attr-rows .chosen-container{
	vertical-align: initial;
}
.cudtom-attr-rows .chosen-drop{
	margin-left: 0px !important;
	width: 101%;
	margin-top: 0px;
}
.unbxd-cat-table .chosen-drop{
	width: 101%;
	margin-top: 0px;
}
.width-88{
	width: 88%;
}
.unbxd-filter-cat{
	background-color: #F3F6F6 !important;
}
.unbxd-success-msg{
	color: #20af7f;
	font-size: 14px;
	font-weight: 400;
}
.unbxd-err-msg{
	color: #FE6A56;
	font-size: 14px;
	font-weight: 400;
}
.unbxd-table-head{
	font-weight: 300;
	font-size: 16px;
}
/*style which shd be avoided*/
.mar-btm-n10 {
	margin-bottom: -10px;
}
.unbxd-container .top-rad{
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.unbxd-container .btm-rad{
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
.brd-btm{
	border-bottom: 1px solid #cddbde;
}
#profiler_section{
	display: none !important;
}
.button-cancel-magento
{
  background: #fff url('../img/cancel.png') no-repeat;
  background-position:10px;
}
.unbxd-btn-outer{
	border: 1px solid #cddbde;
	border-radius: 3px;
}
.unbxd-btn-outer > div {

}
.width-90p{
	width: 90%;
}
.mar-left-5{
	margin-left: 5px;
}
.mar-left-15{
	margin-left: 15px;
}
.unbxd-left, .unbxd-right {
    /*padding-bottom:8000px;
    margin-bottom:-8000px;*/
}
.unbxd-scrollable-div{
	overflow-y: auto;
	height: 105vh;
	padding-bottom: 5% !important;
}
div.unbxd-rows div.tr-row:last-child > div{
	border-bottom: 0 !important;
}
.brd-lft{
	border-left: 1px solid #cddbde;
}
.brd-rgt{
	border-right: 1px solid #cddbde;
}
.pad-0{
	padding:0;
}
.mar-mtop-30{
	margin-top: -30px;
}
.mar-mtop-20{
	margin-top: -20px;
}
.spinbox{
	margin-right: 22px;
}
.table-widget{
	border: 1px solid #cddbde;
	border-radius: 3px;
}
.table-widget:hover{
	background: #cddbde;
}
.table-widget-data{
	display:none;
}
