<div class="col-md-60 col-sm-60 col-xs-60 pad-0 magento-inner-block pad-top-20 border-left-color pad-btm-10p">

    {{^_unbxdObject.step2}}
        <div class="row mar-0">
            <div class="col-md-60 magento-head pad-0 mar-btm-30" style="color: red;font-size: 20px;">Please map catlog and upload data first
            </div>
        </div>
         <div on-click="disabledClick" class="unbxd-cover">
        </div>
    {{/_unbxdObject.step2}}
    
    <div on-click="disabledClick" class="{{^_unbxdObject.step2}} unbxd-disabler {{/_unbxdObject.step2}}">
         
    <div class="row mar-0">
        <div class="col-md-60 magento-head pad-0 mar-btm-10">
            Event Tracking
        </div>
    </div>
    <div class="row mar-0">
        <div class="col-md-60 magento-text pad-0 mar-btm-30">
            Unbxd Recommendations automatically tries to add event handling tags to important visitor events like Product Views, Additions to Cart and Orders.
        </div>
    </div>
    <div class="row mar-0">
        <div class="col-md-60 magento-text pad-0">
            These are required for 
        </div>
    </div>
    <div class="row mar-0">
        <div class="col-md-60 magento-text pad-0">
            a) Reporting
        </div>
    </div>
    <div class="row mar-0">
        <div class="col-md-60 magento-text pad-0 mar-btm-30">
            b) Tracking User-behavior for providing recommendations
        </div>
    </div>
    <div class="row mar-0 unbxd-center-div pad-btm-20">
        See below to check if the analytics integration is successful. Troubleshoot <a class="blue-link-help" href="http://unbxd.com/docs/product-recommendations/platforms/magento/">here</a>
    </div>
    <div class="row mar-0">
        <div class="col-sm-60 col-xs-60 pad-0 fixed-width-800">
            <div class="row">
                <div class="col-md-60 col-sm-60 col-xs-60 mar-btm-30">

                    <div class="row mar-0">
                        <div class="col-md-17 col-sm-60 pad-0 magento-analytics-block 
                        {{^productClick}} magento-analytics-block1 {{/productClick}} mar-rgt-52">
                            <div class="row">
                                <div class="col-md-60 col-sm-60 col-xs-60 magento-analytics-head mar-btm-20">
                                    PRODUCT VIEWS
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-60 col-sm-60 col-xs-60 magento-analytics-tick
                                {{^productClick}} magento-analytics-cross{{/productClick}} mar-btm-20">
                                    &nbsp;
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-60 col-sm-60 col-xs-60 magento-analytics-text mar-top-20 mar-btm-10">
                                    {{#if productClick}}
                                        Captured
                                    {{else}}
                                        Waiting for
                                    {{/if}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-60 col-sm-60 col-xs-60 magento-analytics-text">
                                    Product Click
                                </div>
                            </div>

                        </div>

                        <div class="col-md-17 col-sm-60 pad-0 magento-analytics-block 
                        {{^addToCartClick}}magento-analytics-block1{{/addToCartClick}} mar-rgt-52">
                            <div class="row">
                                <div class="col-md-60 col-sm-60 col-xs-60 magento-analytics-head mar-btm-20">
                                    ADD TO CART
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-60 col-sm-60 col-xs-60 magento-analytics-tick {{^addToCartClick}}magento-analytics-cross{{/addToCartClick}} mar-btm-20">
                                    &nbsp;
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-60 col-sm-60 col-xs-60 magento-analytics-text mar-top-20 mar-btm-10">
                                    {{#if addToCartClick}}
                                        Captured
                                    {{else}}
                                        Waiting for
                                    {{/if}} 
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-60 col-sm-60 col-xs-60 magento-analytics-text">
                                    Add to Cart
                                </div>
                            </div>

                        </div>
                        <div class="col-md-17 col-sm-60 pad-0 magento-analytics-block 
                        {{^productBuysClick }} magento-analytics-block1 {{/productBuysClick}}  mar-rgt-15">
                            <div class="row">
                                <div class="col-md-60 col-sm-60 col-xs-60 magento-analytics-head mar-btm-20">
                                    PRODUCT BUYS
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-60 col-sm-60 col-xs-60 magento-analytics-tick 
                                {{^productBuysClick}} magento-analytics-cross{{/productBuysClick}} mar-btm-20">
                                    &nbsp;
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-60 col-sm-60 col-xs-60 magento-analytics-text mar-top-20 mar-btm-10">
                                    {{#if productBuysClick}}
                                        Captured
                                    {{else}}
                                        Waiting for
                                    {{/if}} 
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-60 col-sm-60 col-xs-60 magento-analytics-text">
                                    an Order
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-60 magento-text pad-0 mar-btm-30" >
        The above images indicate the events Unbxd Recommendations is able to track.
If the events are not being tracked it could be because your magento templates are customized. In such a case, follow the documentation  <a class="blue-link-help" href="http://unbxd.com/docs/product-recommendations/platforms/magento/">here</a>, to manually add tags to track these events.
    </div>
 
   

    </div>
</div>