<div class="row mar-0">
    <div class="col-md-60 col-sm-60  magento-block pad-btm-20 pad-top-0">
        <div class="row mar-0">
            <div class="col-md-60 col-sm-60 col-xs-60  magento-inner-block top-rad btm-rad">
                <div class="row mar-0">
                    <div class="col-md-40 magento-head pad-0 border-0 mar-btm-10">
                        Autosuggest
                    </div>

                    <div class="col-md-10  mar-top-30 pull-right">
                        <div on-click="autosuggestToggle">
                            {{#if autosuggest_status}}
                              {{>switchon}}
                            {{else}}
                              {{>switchoff}}
                            {{/if}}
                        </div>
                    </div>

                </div>

                <div class="row mar-0">
                    <div class="col-md-50 magento-text ">
                        Display keyword suggestions, top searches &amp; popular products when a user searches on your site. Enabling Unbxd Autosuggest will override Magento's default autocomplete widget.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-60 col-sm-60  magento-block pad-btm-0 pad-top-0 brd-btm-0">
        <div class="row mar-0">
            <div class="col-md-60 col-sm-60 col-xs-60  magento-inner-block brd-btm-0 pad-top-20 pad-btm-20 top-rad">
                <div class="row mar-0">
                    <div class="col-md-60 border-0 pad-0 magento-head ">
                        Select Template
                    </div>
                </div>
            </div>

            <div class="col-md-60 col-sm-60 col-xs-60  magento-inner-block brd-btm-0 pad-top-20 pad-btm-20">
                <div class="row mar-0">
                    <div class="col-md-100 magento-analytics-head pad-btm-20">
                        Select Skin
                    </div>
                </div>
                <div class="row mar-0 skins">
                    <div on-click="selectSkin:orange" alt="" class="skin_color skin1 box-35 skin1-{{autosuggest_skin}}"></div>
                    <div on-click="selectSkin:green" alt="" class="skin_color skin2 box-35 skin2-{{autosuggest_skin}}"></div>
                    <div on-click="selectSkin:grey" alt="" class="skin_color skin3 box-35 skin3-{{autosuggest_skin}}"></div>
                    <div on-click="selectSkin:blue" alt="" class="skin_color skin4 box-35 skin4-{{autosuggest_skin}}"></div>
                    <div id="colorPicker" class="custom-skin skin_color box-35 {{#if customColor}} selected{{/if}}  magento-tooltip" data-content="choose custom color" style="background-color:{{skinBackground}}"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-60 col-sm-60  magento-block pad-btm-20 pad-top-0">
        <div class="col-md-60 col-sm-60 col-xs-60  magento-inner-block pad-top-20 pad-btm-0 pad-left-12 btm-rad">
            <div class="row mar-0">

                <div class="col-lg-18 col-md-18 col-xs-18  magento-text2 magento-templates  mar-btm-20 pull-left col-md-offset-2 col-xs-offset-2">
                    <div class="template1-{{autosuggest_skin}} custom-template1-{{customColor}}" style="background-color:{{skinBackground}}">
                    </div>
                    <div class='preview_template template-preview  txt-center pad-top-35p template1-{{autosuggest_template}}-selected'>
                        <div class='preview_btn_holder display-inline back-white-circle box-40 mar-right-20 {{#if customColor}} hide {{/if}}' data-toggle="modal" data-target="#previewModal" 
                        data-template="1" data-skin={{autosuggest_skin}}></div>
                        <div on-click="selectTemplate:1" class="tick-mark display-inline back-white-circle box-40"></div>
                    </div>
                </div>

                <div class="col-lg-18 col-md-18 col-xs-18 magento-text2 magento-templates col-md-offset-2 col-xs-offset-2   mar-btm-20 pull-left">
                    <div class="template2-{{autosuggest_skin}} custom-template2-{{customColor}}" style="background-color:{{skinBackground}}">
                    </div>

                    <div class='preview_template template-preview txt-center pad-top-35p template2-{{autosuggest_template}}-selected'>
                        <div class='preview_btn_holder display-inline back-white-circle box-40 mar-right-20 {{#if customColor}} hide {{/if}}' data-toggle="modal" data-target="#previewModal"
                        data-template="2" data-skin={{autosuggest_skin}}></div>
                        <div on-click="selectTemplate:2" class="tick-mark display-inline back-white-circle box-40"></div>
                    </div>
                </div>

                <div class="col-lg-18 col-md-18 col-xs-18 magento-text2 magento-templates  col-md-offset-2 col-xs-offset-2  mar-btm-20 pull-left">
                    <div class="template3-{{autosuggest_skin}} custom-template3-{{customColor}}" style="background-color:{{skinBackground}}">
                    </div>

                    <div class='preview_template template-preview txt-center pad-top-35p template3-{{autosuggest_template}}-selected'>
                        <div class='preview_btn_holder display-inline back-white-circle box-40 mar-right-20 {{#if customColor}} hide {{/if}}' data-toggle="modal" data-target="#previewModal"
                        data-template="3" data-skin={{autosuggest_skin}}
                        ></div>
                        <div on-click="selectTemplate:3" class="tick-mark display-inline back-white-circle box-40"></div>
                    </div>
                </div>

                <div class="col-lg-18 col-md-18 col-xs-18  magento-text2 magento-templates  col-md-offset-2  mar-btm-20 pull-left">
                    <div class="template4-{{autosuggest_skin}} custom-template4-{{customColor}}" style="background-color:{{skinBackground}}">
                    </div>
                    <div class='preview_template template-preview txt-center pad-top-35p template4-{{autosuggest_template}}-selected'>
                        <div class='preview_btn_holder display-inline back-white-circle box-40 mar-right-20 {{#if customColor}} hide {{/if}}' data-toggle="modal" data-target="#previewModal"
                        data-template="4" data-skin={{autosuggest_skin}}></div>
                        <div on-click="selectTemplate:4" class="tick-mark display-inline back-white-circle box-40"></div>
                    </div>
                </div>

                <div class="col-lg-18 col-md-18 col-xs-18 magento-text2 magento-templates  col-md-offset-2 col-xs-offset-2  mar-btm-20 pull-left">
                    <div class="template-coming width-70p"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-60 col-sm-60  magento-block pad-btm-0 pad-top-0 brd-btm-0">
        <div class="row mar-0">
            <div class="col-md-60 col-sm-60 col-xs-60  magento-inner-block pad-top-20 pad-btm-10 brd-btm-0 top-rad">
                <div class="row mar-0">
                    <div class="col-md-0 magento-head border-0 pad-0 mar-btm-10">
                        Configure template
                    </div>
                </div>
            </div>
            <div class="col-md-60 col-sm-60 col-xs-60  magento-inner-block pad-top-20 pad-btm-0 brd-btm-0 {{#if hideSuggestions}} hide {{/if}}">
                <div class="row mar-0">
                    <div class="col-md-100 magento-subhead  pad-btm-10">
                        Search Suggestions
                    </div>
                    <div class="col-md-60 magento-text  pad-btm-20">
                        Search suggestions are automatically generated based on visitor's search query.
                    </div>

                    <div class="row mar-0">
                        <div class="col-md-25 magento-text  mar-btm-30">
                        Number of suggestions.
                        </div>
                        <div class="col-md-15  mar-btm-30 col-md-offset-20">
                            <div class="fuelux pull-right">
                                <div class="pull-right">
                                    <div class="spinbox">
                                        <input type="text" class="form-control input-mini spinbox-input cursor-default background-white" disabled=true value={{autosuggest_max_suggestion}}>
                                        <div class="spinbox-buttons btn-group btn-group-vertical">
                                            <button on-click="noOfSuggestionsUp" type="button" class="btn btn-default spinbox-up btn-xs">
                                            </button>
                                            <button on-click="noOfSuggestionsDown" type="button" class="btn btn-default spinbox-down btn-xs">
                                            </button>
                                        </div>
                                    </div>
                                </div>     
                            </div>
                        </div>
                    </div>
                    

                    <div class="col-md-60 magento-row-tabs  mar-btm-40 brd-none">
                        <div class="autosuggest-inner-block">
                            <div class="col-md-60 magento-text autosuggest-text  mar-btm-20 height-20">
                                <div class="pull-left pad-right-10">Top Queries </div>
                                <div class="info-icon-small pull-left magento-tooltip" data-content={{config.tooltips.topqueries}}>
                                </div>
                            </div>
                            <div class="col-md-51 magento-text  mar-btm-30">
                                Enable to display top performing search queries first
                            </div>
                            <div class="col-md-9  mar-btm-30">

                                <div on-click="topqueriesToggle">
                                    {{#if autosuggest_top_queries_status}}
                                         {{>switchon}}
                                    {{else}}
                                        {{>switchoff}}
                                    {{/if}}
                                </div>

                            </div>
                            <div class="clear"></div>
                        </div>

                        <div class="autosuggest-inner-block">
                            <div class="col-md-60 magento-text autosuggest-text  mar-btm-20 height-20">
                                <div class="pull-left pad-right-10">Keyword Suggestions </div>
                                <div class="info-icon-small pull-left magento-tooltip" data-content={{config.tooltips.keywords}}>
                                </div>
                            </div>
                            <div class="col-md-51 magento-text  mar-btm-30">
                                Enable to display intelligent keyword suggestions
                            </div>
                            <div class="col-md-9  mar-btm-30">

                                <div on-click="keywordsToggle">
                                    {{#if autosuggest_keyword_status}}
                                         {{>switchon}}
                                    {{else}}
                                        {{>switchoff}}
                                    {{/if}}
                                </div>

                            </div>
                            <div class="clear"></div>
                        </div>

                        <div class="autosuggest-inner-block brd-btm-0">
                            <div class="col-md-60 magento-text autosuggest-text  mar-btm-20 height-20">
                                <div class="pull-left pad-right-10">
                                    Search Scope
                                </div>
                                <div class="info-icon-small pull-left magento-tooltip" data-content={{config.tooltips.searchscope}}>
                                </div>
                            </div>
                            <div class="col-md-51 magento-text  mar-btm-30">
                                Enable to display scope suggestions within the autosuggest widget
                            </div>
                            <div class="col-md-9  mar-btm-30">

                                <div on-click="searchscopeToggle">
                                    {{#if autosuggest_search_scope_status}}
                                        {{>switchon}}
                                    {{else}}
                                        {{>switchoff}}
                                    {{/if}}
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="autosuggest_info_box">
                            <div class="info-icon-big pull-left mar-right-10 " 
                            style="height:55px"></div>
                            <div class="pad-left-10 info-note">
                            In order for scope suggestions to work, you need to write a callback function to specify the search filters that will be applied when a customer clicks on a scope suggestion.

                            For more information on how to write this function, please refer to our 
                            <a target="_blank" href="https://github.com/unbxd/autosuggest" class="blue-link-help">Github repo</a>
                                <div>
                                      Note: We strongly suggest this step be implemented by a web developer. In case of any questions, please contact support
                                </div>
                           
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-60 col-sm-60  magento-block pad-btm-0 pad-top-0">
        <div class="row mar-0">
            <div class="col-md-60 col-sm-60 col-xs-60  magento-inner-block pad-top-20 pad-btm-0 btm-rad">
                <div class="row mar-0">
                    <div class="col-md-100 magento-autosuggest-head  pad-btm-10 clearfix">
                        <div class="pull-left pad-right-10">
                            Popular Product Suggestions
                        </div>
                        <div class="info-icon-small pull-left magento-tooltip" data-content={{config.tooltips.popularProducts}}>
                        </div>
                    </div>
                    <div class="col-md-0 magento-text  pad-btm-20 ">
                        Choose the maximum number of popular product thumbnails to be displayed
                    </div>
                    <div class="col-md-45 magento-text  mar-btm-30">
                        Number of thumbnails
                    </div>
                    <div class="col-md-15  mar-btm-30">
                        <div class="fuelux">
                            <div class="spinbox thumb-spin" data-initialize="spinbox">
                                <input type="text" class="form-control input-mini spinbox-input cursor-default  background-white" disabled=true value={{autosuggest_max_products}}>
                                <div class="spinbox-buttons btn-group btn-group-vertical">
                                    <button on-click="noOfPopularProductsUp" type="button" class="btn btn-default spinbox-up btn-xs">
                                    </button>
                                    <button on-click="noOfPopularProductsDown" type="button" class="btn btn-default spinbox-down btn-xs">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{>modal}}