<div class="row mar-0">
    <div class="col-md-60 col-sm-60 magento-block pad-top-0">
        <div class="row mar-0">
            

    {{^_unbxdObject.step1}}
        <div class="row mar-0">
            <div class="col-md-60 magento-head mar-btm-30" style="color: red;font-size: 20px;">Please authenticate Unbxd module
            </div>
        </div>
        <div on-click="disabledClick" class="unbxd-cover">
        </div>
    {{/_unbxdObject.step1}}


        <div  class="{{^_unbxdObject.step1}} unbxd-disabler {{/_unbxdObject.step1}} unbxd-outer-block">

        {{>catalogue}}
        
        {{>customAttr}}

        <div id="unbxdFilters" class="unbxd-outer-block">
            
        </div>
        
        <div class="col-md-60 col-sm-60 col-xs-60 magento-inner-block pad-top-20 pad-btm-20">
            <div class="row mar-0">
                <div class="col-md-60 border-0 pad-0 magento-head ">
                     Sync The Catalog Data
                </div>
            </div>
        </div>


        <div class="col-md-60 col-sm-60 col-xs-60   pad-top-20 overflow-auto brd-top-btm-0 pad-btm-5">
            <div class="col-md-60 magento-text ">
                Sync your catalog data with the Unbxd Smartengage Engine once.
            </div>
        </div>

         <div class="col-md-60 col-sm-60 col-xs-60   pad-top-20 overflow-auto brd-top-btm-0">
            <div on-click="uploadData" class="col-md-20 button-black-magento1 width-220 {{#if disableButton}}disabled-btn{{/if}} "  >
                <div class="clickable-btn weight300 " style="color: #fff !important;padding-right: 16px">
                    SYNC  CATALOG
                </div>
            </div>
        </div>
        


        <div class="col-md-60 col-sm-60 col-xs-60  brd-top-btm-0 pad-0 pad-left-50">
            <div class="unbxd-err-msg">
                {{dataErrorMsg}}
            </div>
             <div class="unbxd-success-msg">
                {{dataWaitMsg}}
            </div>
            {{#if dataSuccessMsg}}
                <div class="row mar-0">
                    <div class="success-icon-big box-50 pull-left" >
                    </div>
                    <div class="pull-left width-200 pad-left-10 pad-top-5">
                        <div class="sync-success">{{config.unbxdMessages.syncSuccess}}</div>
                        <div class="grey-text success-second-text">Last synced on {{lastSyncTime}}</div>
                    </div>
                </div>
            {{/if}}
        </div>
        
        <div class="col-md-60 col-sm-60 col-xs-60   pad-top-20 pad-btm-20 overflow-auto brd-top-btm-0 pad-top-5 pad-btm-20 btm-rad brd-btm">
            <div class="col-md-60 col-sm-60 col-xs-60 bordered-div brd-lft brd-rgt background-grey pad-left-10 overflow-auto brd-top-btm-0">
                <div class="info-icon-big pull-left mar-right-10 background-center" style="height:58px;"></div>
                <div class="pad-top-10 grey-text">
                    Note: Your site's catalog data needs to be regularly synced with the Unbxd Smartengage Engine for relevant results to be displayed. Set-up a cronjob which performs the regular sync. For more datils <a target="_blank" href="http://www.magentocommerce.com/wiki/1_-_installation_and_configuration/how_to_setup_a_cron_job" class="blue-link-help">click here</a>
                </div>
            </div>
        </div>
       
    </div>


        </div>
    </div>
</div>
