<div class="unbxd-container height-100 parent">
    <div class="magent0-left-nav width-17 pull-left height-100 unbxd-left">
        <div class="middle-nav-magento-dropdown unbxd-top-strip mar-btm-20">
            <div class="middle-nav-text mar-btm-10 pad-btm-0" style="padding-top: 10px;">
                Choose Website
            </div>
            <div class="middle-nav-dropdown mar-top-5 no-radius">
                <div class="btn-group width-100 unbxd-border">
                    <select decorator='chosen:site' value={{site}} name="unbxd-site" id="selectSites">
                        {{#sites}}
                        <option value="{{name}}">{{name}}</option>
                        {{/sites}}
                    </select>
                </div>
            </div>
        </div>
        <div class="middle-nav-magento unbxd-left">
            <ul class="magento-nav">
                <li on-click='showCredentials' class="clickable-btn 
					{{#if _unbxdObject.activeStep.one}} magento-active {{/if}}
                    {{^config.states.credentials}} unbxd-state-incomplete {{/config.states.credentials}}">
                    <a>Authentication</a>
                </li>
                <li on-click='showCatalog' class="clickable-btn 
					{{#if _unbxdObject.activeStep.two}} magento-active{{/if}}
                    {{^config.states.catalog}} unbxd-state-incomplete {{/config.states.catalog}}">
                    <a>Catalog</a>
                </li>
                <li on-click='showAnalytics' class="clickable-btn
					{{#if _unbxdObject.activeStep.three}} magento-active{{/if}}
                    {{^config.states.analytics}} unbxd-state-incomplete {{/config.states.analytics}}">
                    <a>Analytics</a>
                </li>
                {{#if config.unbxdRecsenabled}}
                <li on-click='showWidgets' class="clickable-btn
					{{#if _unbxdObject.activeStep.four}} magento-active{{/if}}">
                    <a>Widgets</a>
                </li>
                {{/if}}
                {{#if config.unbxdSearchenabled}}
	                <li on-click='showAutosuggest' class="clickable-btn
						{{#if _unbxdObject.activeStep.five}} magento-active{{/if}}">
	                    <a>Auto Suggest</a>
	                </li>
	                <li on-click='showSearch' class="clickable-btn
						{{#if _unbxdObject.activeStep.six}} magento-active{{/if}}">
	                    <a>Search</a>
	                </li>
                 {{/if}}
            </ul>
            <div class="footer bottom-55 contact-us-footer" data-toggle="modal" data-target="#contactModal">
                <div class="mail-box pull-left">
                </div>
                <div class="">Contact Support</div>
            </div>
        </div>
    </div>
    <div class="unbxd-right-div pull-left width-83 unbxd-right unbxd-scrollable-div">
        <div id="innerContainr" class="inner-container-magento pad-top-34 pad-btm-40">
        </div>
    </div>
    {{>contactUsModal}}
</div>