 <div class="row mar-0 magento-block pad-top-0">
    
    <div class="col-md-60 col-sm-60 col-xs-60  magento-inner-block brd-btm-0 pad-top-20 pad-btm-20 top-rad">
        <div class="row mar-0">
            <div class="col-md-60 border-0 pad-0 magento-head ">
                Install Recommendation Widgets
            </div>
        </div>
    </div>
    <div class="col-md-60 col-sm-60  col-xs-60  magento-inner-block brd-btm-none btm-rad">
        <div class="row mar-0">
            <div class="col-md-60 magento-text  mar-btm-20">
               Unbxd recommendation widgets can be integrated by adding a one-line HTML snippet to the respective pages on your site.
               These widgets can be installed in one of the follwoing ways:
            </div>
        </div>
    <div class="row mar-0 magento-text">
        <ul>
            <li class="pad-btm-20">
                1.Through the CMS
                <span class="blue-link-help" on-click="showCMSHelp">know more</span> 
                <div id="cmsHelp" class="row mar-0 pad-left-30 cms-help" style="display:none">
                    <ul>
                        <li>a) On the Magento store admin, navigate to CMS -> Pages</li>
                        <li>b) In the Manage pages section, select the page you want to paste the widget snippet on</li>
                        <li>c) On the left navigation, click the Content section for Page Information</li>
                        <li>d) Paste the snippet on the page that opens up to the right in the appropriate location</li>
                    </ul>
                </div>
                <div style="padding-left:17px;">
                      Refer to table(a) for more information on where the HTML snippets need to be added on your site
                </div>  
            </li>
        </ul>
    </div>
    <div class="row mar-0 pad-10 table-widget clickable mar-btm-20" onclick="myFunction('table-data1')">
        <b>Table (a)</b>
    </div>
    
    <div class="row mar-0 table-widget-data" id="table-data1">
        <div class="col-md-60 col-sm-60 col-xs-60 ">
            <div class="row mar-0">
                <div class="col-md-60 col-sm-60  mar-btm-30 ">
                    <div class="table table-magento hide-over-flow" style="width: 100%;">
                        <div style="width: 100%;height: 50px;">
                            <div class="unbxd-div-td unbxd-th  width-28 unbxd-text-verticle-center  unbxd-table-head" 
                             data-content="Magento fields in your feed" style="border-left: 0px !important;" >
                                Widget Type
                            </div>

                            <div class="unbxd-div-td unbxd-th width-42 unbxd-text-verticle-center no-left-top-rad unbxd-table-head" data-content="Magento fields in your feed" >
                                HTML Snippet
                            </div> 

                            <div class="unbxd-div-td unbxd-th width-30 unbxd-text-verticle-center no-left-top-rad no-border-right unbxd-table-head"  data-content="Magento fields in your feed" >
                                Page Type
                            </div> 
                        </div>

        
                        <div>   
                                <div class="tr-row ">
                                    <div class="unbxd-div-td pad-left-10 width-28  unbxd-caps">
                                        Recently Viewed
                                    </div>

                                    <div class="unbxd-div-td pad-left-10 width-42 word-break ">
                                        &ltdiv id="unbxd_recently_viewed"&gt; &lt/div&gt;
                                    </div>
                                   
                                    <div class="unbxd-div-td pad-left-10 width-30 word-break ">
                                      
                                        Home Page, Product Page 
                                    </div>

                                </div>

                                <div class="tr-row ">
                                    <div class="unbxd-div-td pad-left-10 width-28 child-right  unbxd-caps">Recommended for you
                                    </div>

                                    <div class="unbxd-div-td pad-left-10 width-42 word-break child-right word-break ">
                                        &ltdiv id="unbxd_recommended_for_you"&gt; &lt/div&gt;
                                    </div>
                                   
                                    <div class="unbxd-div-td pad-left-10 width-30 word-break child-right word-break ">
                                            Home Page, Product Page  
                                    </div>

                                </div>
                               
                                <div class="tr-row ">
                                    <div class="unbxd-div-td pad-left-10 width-28  unbxd-caps">
                                        More Like these
                                    </div>

                                    <div class="unbxd-div-td pad-left-10 width-42 word-break child-right word-break ">
                                         &ltdiv id="unbxd_more_like_these"&gt; &lt/div&gt;
                                    </div>
                                   
                                    <div class="unbxd-div-td pad-left-10 width-30 word-break ">   
                                        Product Page
                                    </div>

                                </div>
                                <div class="tr-row ">
                                    <div class="unbxd-div-td pad-left-10 width-28  unbxd-caps">
                                        Viewed also Viewed
                                    </div>
                                     <div class="unbxd-div-td pad-left-10 width-42 word-break child-right word-break ">
                                        &ltdiv id="unbxd_also_viewed"&gt; &lt/div&gt;
                                    </div>
                                    <div class="unbxd-div-td pad-left-10 width-30 word-break ">  
                                        Product Page
                                    </div>

                                </div>

                                <div class="tr-row ">
                                    <div class="unbxd-div-td pad-left-10 width-28  unbxd-caps">Bought Also Bought
                                    </div>

                                     <div class="unbxd-div-td pad-left-10 width-42 word-break child-right word-break ">
                                        &ltdiv id="unbxd_also_bought"&gt; &lt/div&gt;
                                    </div>
                                    
                                    <div class="unbxd-div-td pad-left-10 width-30 word-break ">  Product Page
                                    </div>
                                </div>

                                <div class="tr-row ">
                                    <div class="unbxd-div-td pad-left-10 width-28  unbxd-caps">Cart Recommendations
                                    </div>

                                     <div class="unbxd-div-td pad-left-10 width-42 word-break child-right word-break ">
                                        &ltdiv id="unbxd_cart_recommendations"&gt; &lt/div&gt;
                                    </div>
                                   
                                    <div class="unbxd-div-td pad-left-10 width-30 word-break ">  Cart Page
                                    </div>
                                </div>

                                <div class="tr-row ">
                                    <div class="unbxd-div-td pad-left-10 width-28  unbxd-caps">
                                        HomePage Top Sellers
                                    </div>

                                     <div class="unbxd-div-td pad-left-10 width-42 word-break child-right word-break ">
                                        &ltdiv id="unbxd_top_sellers"&gt; &lt/div&gt;
                                    </div>
                                   
                                    <div class="unbxd-div-td pad-left-10 width-30 word-break ">  Product Pages 
                                    </div>
                                </div>

                                <div class="tr-row ">
                                    <div class="unbxd-div-td pad-left-10 width-28  unbxd-caps">
                                        Category Top Sellers
                                    </div>

                                     <div class="unbxd-div-td pad-left-10 width-42 word-break child-right word-break ">
                                       &ltdiv id="unbxd_category_top_sellers"&gt; &lt/div&gt;
                                    </div>
    
                                    
                                    <div class="unbxd-div-td pad-left-10 width-30 word-break ">  Category/Sub-category Pages 
                                    </div>
                                </div>

                                <div class="tr-row ">
                                    <div class="unbxd-div-td pad-left-10 width-28  unbxd-caps">
                                        Brand Top Sellers
                                    </div>

                                     <div class="unbxd-div-td pad-left-10 width-42 word-break child-right word-break ">
                                        &ltdiv id="unbxd_brand_top_sellers"&gt; &lt/div&gt;
                                    </div>
                                    
                                    <div class="unbxd-div-td pad-left-10 width-30 word-break ">  Brand Pages
                                    </div>
                                </div>

                                <div class="tr-row  ">
                                    <div class="unbxd-div-td pad-left-10 width-28  unbxd-caps">
                                        PDP Top Sellers
                                    </div>
                                    
                                     <div class="unbxd-div-td pad-left-10 width-42 word-break child-right word-break ">
                                       &ltdiv id="unbxd_pdp_top_sellers"&gt; &lt/div&gt;
                                    </div>

                                    <div class="unbxd-div-td pad-left-10 width-30 word-break ">  Product Pages 
                                    </div>
                                </div>
                       
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row mar-0 magento-text">
        <ul>

            <li>
                2. Using a Magento Template 
                <div class="row mar-0">
                    <div class="col-md-60 magento-text  cms-help" style="padding-bottom:0">
                        For eg – To display the <b>“Recently Viewed”</b> widget on the HomePage, place the below snippet in the app/design/frontend/{your_package}/{your_theme}/template/catalog/product/view.phtml file

                        <div class="row background-grey pad-btm-15 rec-code-eg">
                            <div class="pad-left-10 background-white unbxd-code">
                                &lt;div id=<span class="pun">"unbxd_recently_viewed"&gt;</span>&lt;/div&gt;
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="script-block hide" style="border:0;padding-top:10px">
                        <pre class="prettyprint-dashboard"> 
                        </pre>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="row mar-0 pad-10 table-widget clickable mar-btm-20" onclick="myFunction('table-data2')">
        <b>Table (b)</b>
    </div>
    
    <div class="row mar-0 table-widget-data" id="table-data2">
        <div class="col-md-60 col-sm-60 col-xs-60 ">
            <div class="row mar-0" style="width: 100%;">
                <div class="col-md-60 col-sm-60  mar-btm-30 ">
                    <div class="table table-magento hide-over-flow">
                        <div style="width: 100%;height: 50px;">
                            <div class="unbxd-div-td unbxd-th  width-20 unbxd-text-verticle-center unbxd-table-head" 
                             data-content="Magento fields in your feed" style="border-left: 0px !important;" >
                                 Page Type
                            </div>

                            <div class="unbxd-div-td unbxd-th width-80 unbxd-text-verticle-center no-left-top-rad no-border-right unbxd-table-head"  data-content="Magento fields in your feed" >
                               Template File
                            </div> 
                        </div>

        
                        <div>
                                <div class="tr-row ">
                                    <div class="unbxd-div-td pad-left-10 width-20 child-right ">Home Page</div>
                                   
                                    <div class="unbxd-div-td pad-left-10 width-80 word-break child-right word-break ">
                                             app/design/frontend/{your_package}/{your_theme}/template/sample/home.phtml
                                    </div>

                                </div>
                                <div class="tr-row ">
                                    <div class="unbxd-div-td pad-left-10 width-20 ">
                                        Product Page
                                    </div>
                                   
                                    <div class="unbxd-div-td pad-left-10 width-80 word-break ">
                                        app/design/frontend/{your_package}/{your_theme}/template/catalog/product/view.phtml    
                                    </div>
                                </div>

                                 <div class="tr-row ">
                                    <div class="unbxd-div-td pad-left-10 width-20 ">
                                      Cart Page
                                    </div>
                                   
                                    <div class="unbxd-div-td pad-left-10 width-80 word-break ">
                                     app/design/frontend/{your_package}/{your_theme}/template/checkout/cart.phtml
                                    </div>
                                </div>

                                 <div class="tr-row ">
                                    <div class="unbxd-div-td pad-left-10 width-20 ">
                                       Category Listing Page
                                    </div>
                                   
                                    <div class="unbxd-div-td pad-left-10 width-80 word-break ">
                                        app/design/frontend/{your_package}/{your_theme}/template/catalog/product/list.phtml
                                    </div>
                                </div>

                                <div class="tr-row ">
                                    <div class="unbxd-div-td pad-left-10 width-20 ">
                                       Brand Pages
                                    </div>
                                   
                                    <div class="unbxd-div-td pad-left-10 width-80 word-break ">
                                        app/design/frontend/{your_package}/{your_theme}/template/catalog/product/list.phtml
                                    </div>
                                </div>

                              
                        </div>
                    </div>

                </div>
            </div>

    
            <div class="row mar-0 magento-text">
                In case you face any issues, please contact support
            </div>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
function myFunction(id) {
    var e = document.getElementById(id);
    if (e.style.display == 'none' || e.style.display=='')
        {
            e.style.display = 'block';
        }
    else e.style.display = 'none';
}


</script>