<config>
	<modules>
		<Unbxd_Recommendation>
			<version>1.0.13</version>
		</Unbxd_Recommendation>
	</modules>
    <admin>
        <routers>
            <unbxd_recommendation_router>
                <use>admin</use>
                <args>
                    <module>Unbxd_Recommendation_Adminhtml</module>
                    <frontName>unbxdadmin</frontName>
                </args>
            </unbxd_recommendation_router>
        </routers>
    </admin>
	<frontend>
		<layout>
			<updates>
				<unbxd_recommendation>
					<file>unbxd/recommendation.xml</file>
				</unbxd_recommendation>
			</updates>
		</layout>
		<routers>
			<unbxd_recommendation>
				<use>standard</use>
				<args>
					<module>Unbxd_Recommendation</module>
					<frontName>unbxd</frontName>
				</args>
			</unbxd_recommendation>
		</routers>
	</frontend>
	<global>
        <resources>
            <unbxd_recommendation_setup>
                <setup>
                    <module>Unbxd_Recommendation</module>
                </setup>
            </unbxd_recommendation_setup>
        </resources>
        <helpers>
            <unbxd_recommendation>
                <class>Unbxd_Recommendation_Helper</class>
            </unbxd_recommendation>
        </helpers>
		<models>
			<unbxd_recommendation>
				<class>Unbxd_Recommendation_Model</class>
				<resourceModel>unbxd_recommendation_resource</resourceModel>
			</unbxd_recommendation>
			<unbxd_recommendation_resource>
				<class>Unbxd_Recommendation_Model_Resource</class>
				<entities>
					<config>
						<table>unbxd_recommendation_conf</table>
					</config>
                    <field>
                        <table>unbxd_field_conf</table>
                    </field>
				</entities>
			</unbxd_recommendation_resource>
		</models>
        <blocks>
            <unbxd_recommendation>
                <class>Unbxd_Recommendation_Block</class>
            </unbxd_recommendation>
        </blocks>
		<events>
			<checkout_cart_add_product_complete>
				<observers>
					<unbxd_recommendation_cart_tracker>
						<type>singleton</type>
						<class>unbxd_recommendation/observer</class>
						<method>trackAddToCart</method>
					</unbxd_recommendation_cart_tracker>
				</observers>
			</checkout_cart_add_product_complete>
			<sales_order_payment_place_end>
				<observers>
					<unbxd_recommendation_order_tracker>
						<type>singleton</type>
						<class>unbxd_recommendation/observer</class>
						<method>trackOrder</method>
					</unbxd_recommendation_order_tracker>
				</observers>
			</sales_order_payment_place_end>
		</events>
	</global>
    <adminhtml>
        <layout>
            <updates>
                <unbxd_recommendation>
                    <file>unbxd/recommendation.xml</file>
                </unbxd_recommendation>
            </updates>
        </layout>
    </adminhtml>
    <crontab>
        <jobs>
            <unbxd_recommendation_cron>
                <schedule><cron_expr>0 */1 * * *</cron_expr></schedule>
                <run><model>unbxd_recommendation/observer::syncProduct</model></run>
            </unbxd_recommendation_cron>
        </jobs>
    </crontab>
</config>
