<div class="row mar-0 magento-block pad-top-0">

    <div class="row mar-0">
        <div class="col-md-60 col-sm-60 col-xs-60  magento-inner-block brd-btm-0 magento-breadcrum top-rad">
            <div class="row mar-0">
                <div class="col-md-40 magento-bread-text ">
                    <span class="breadcrum-prev clickable" on-click="goBack">Search</span>
                    <span class="breadcrumb-arrow"></span>
                    <span class="breadcrum-current">Hosted Search</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row mar-0">
        <div class="col-md-60 col-sm-60 col-xs-60  magento-inner-block pad-top-20 pad-btm-20 rad-btm ">
            <div class="row mar-0">
                <div class="col-md-60 border-0 pad-0 magento-head  mar-btm-10">
                    Hosted Search
                </div>
            </div>

            <div class="row mar-0">
                <div class="col-md-60 magento-text2 magento-text">
                    Redirect visitors to a subdomain (search.yoursite.com) when they search. To get started:
                    <ul>
                        <li>
                            The Unbxd team will create the hosted search results page for your site. This page will be identical to your site in styling & design
                        </li>
                        <li>
                             You’ll then need to add a CNAME record which will point to the UNBXD hosted search endpoint. Here are the steps to add the CNAME “search.yoursite.com”
                            <ul class="mar-top-0">
                            <li> Login to your domain management system </li>
                            <li> Navigate to DNS management </li>
                            <li> Find the CNAME records section and add a new CNAME record 
                            </li>
                            <li>Enter the value for your subdomain in the host field. E.g. search.yoursite.com</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="row mar-0 {{#if hostedSearch}} hide {{/if}}">
        <div class="col-md-60 col-sm-60 col-xs-60  magento-inner-block pad-top-20 pad-top-20 txt-center">
            <div class="row mar-0">
                <div class="col-md-100 magento-text  mar-btm-30">
                   To implement hosted search, please contact our support team. Once we receive a request, we’ll get back to you within 24 hours
                </div>
                <div class="">
                    <input class="btn-magento-blue 
                    {{#if requestedSetup}} disabled-btn {{/if}}" type="button" id="contact_support" 
                    value="{{#if requestedSetup}} Requested For Setup{{else}} Request For Setup {{/if}}" data-toggle="modal"  data-hostedSearch=true
                data-target="#contactModal">
                </div>
                <div class="magento-text pad-top-20">
                    To know more about hosted search, refer our <a href="#" title="documentation">documentation</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mar-0 {{^hostedSearch}} hide {{/hostedSearch}}">
        <div class="col-md-60 col-sm-60 col-xs-60  magento-inner-block pad-top-20 brd-top-0 pad-top-0 btm-rad">
            <div class="row mar-0">
                <div class="col-md-50 border-0 magento-head  pull-left mar-btm-10">
                    Activate or Deactivate Hosted Search
                </div>
                <div class="col-md-50 magento-text mar-mtop-20 unbxd-error-msg ">
                    <div class="pull-right">{{errorMsg}}</div>  
                </div>
                <div class="col-md-7 pad-btm-20 mar-mtop-30 pull-right col-md-offset-3">
                   <div on-click="toggleSearchIntegration">
                                {{#if search_hosted_status}}
                                  {{>switchon}}
                                {{else}}
                                  {{>switchoff}}
                                {{/if}}
                    </div>
                </div>
                <div class="clear"></div>

                <div class="search_info_box">
                    <div class="info-icon-big pull-left mar-right-10 box-30"></div>
                    <span>Note</span> : If you have implemented custom templates or installed third party modules some of the functionalities may not work. Please contact our support team at
                    <a href="mailto:support@unbxd.com">support@unbxd.com</a> and we will help you out to fix it.
                </div>
            </div>
        </div>
    </div>

</div>
