<div class="row mar-0 magento-block pad-top-0">
    <div class="col-md-60 col-sm-60 col-xs-60  magento-inner-block top-rad btm-rad">
        <div class="row mar-0">
            <div class="col-md-60 border-0 pad-0 magento-head  mar-btm-10">
                Choose a method to implement search
            </div>
        </div>

        

        <div class="row mar-0" on-click="showHostedSearch">
            <div class="col-md-60 magento-search-type ">
                <div class="row mar-0">
                    <div class="col-md-55 magento-search-copy ">
                        <div class="search-type">
                            <div class="search-head">
                                Hosted search
                            </div>
                            <div class="search-desc">
                                Use Unbxd to power your search results, with a hosted search result page. Redirect visitors to a <a href="#">search.yoursite.com</a> subdomain when they search, with identical styling and a seamless experience.
                            </div>
                            <div class="{{#if search_hosted_status}}search-active-btn{{else}}hide{{/if}}">
                                Active
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 magento-search-type-arrow ">
                        <div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mar-0" on-click="showAPISearch">
            <div class="col-md-60 magento-search-type ">
                <div class="row mar-0">
                    <div class="col-md-55 magento-search-copy ">
                        <div class="search-type">
                            <div class="search-head">
                                Magento API implementaion
                            </div>
                            <div class="search-desc">
                                Replace Magento's default site search with an Unbxd API integration. Use Unbxd to power relevant results and add several essential site search features like autocomplete, spellcheck, faceted search and more.
                            </div>
                            <div class="{{#if search_mod_status}}search-active-btn{{else}}hide{{/if}}">
                                Active
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 magento-search-type-arrow ">
                        <div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mar-0">
            <div class="col-md-60 magento-search-type  background-disabled">
                <div class="row mar-0">
                    <div class="col-md-55 magento-search-copy ">
                        <div class="search-type">
                            <div class="search-head">
                                Instant search ( Coming Soon )
                            </div>
                            <div class="search-desc">
                                Add an instant, search-as-you-type experience to your site.
                            </div>
                            <div class="hide">
                                Active
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 magento-search-type-arrow " style="background-color:#e6ecec">
                        <div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>